.argument {
  background-color: rgb(89, 92, 110);
  color: wheat;
}

.argument-item {
  font-style: italic;
  font-size: 20px;
  margin-bottom: 5px;
  fill: wheat;
}

.argument-box {
  display: flex;
  align-items: center;
  gap: 10px;
}

.arg-icon {
  min-width: 10px;
  min-height: 10px;
  max-width: 10px;
  max-height: 10px;
}
.argument-item-descr {
  margin-top: 5px;
  font-size: 14px;
  font-style: normal;
}

.argument-item-descr:last-child {
  margin-bottom: 20px;
}
