.try-button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 10px;
  background-color: aqua;
  width: 236px;
  border-radius: 25px;
  text-align: center;
}

.argument {
  background-color: cadetblue;
  padding: 20px 24px;
}
.argument-title {
  font-size: 32px;
  margin-bottom: 30px;
  text-align: center;
}

.argument-item {
  font-size: 22px;
  letter-spacing: 0.02em;
  margin-bottom: 20px;
}

.argument-item-descr {
  margin-top: 12px;
  font-size: 16px;
}

.argument-item-descr:last-child {
  margin-bottom: 20px;
}
