.button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  cursor: pointer;
  min-width: 236px;
  color: wheat;
  background-color: rgba(35, 44, 54, 0.4);
  border: 2px solid #0006;
  border-radius: 25px;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  padding: 16px 38px;
}
