.button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 180px;
  max-width: 180px;
  padding: 16px 0;
  font-size: 16px;
  font-weight: 800;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  color: $black-color;
  border: none;
  background-color: $accent-bg-color;
  box-shadow: 4px 4px 0px $black-color;
  border-radius: 100px;
  cursor: pointer;

  @media screen and (min-width: 1200px) {
    letter-spacing: 0.2px;
    max-width: 270px;
    padding: 26px 0;
  }
}

.button-transparent-bg {
  background-color: transparent;
  border: 2px solid $accent-bg-color;
  box-shadow: none;
}

.program-button {
  margin-bottom: 24px;
  min-width: 270px;
  max-width: 270px;

  @media screen and (min-width: 1200px) {
    min-width: 360px;
    max-width: 360px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }
}

.program-button-border {
  border: 2px solid $accent-bg-color;
  line-height: 1.5;
}

.program-button__transp {
  background-color: transparent;
  color: $white-color;
  margin-bottom: 0;
  border: 2px solid $accent-bg-color;
  line-height: 1.5;
  letter-spacing: 0.16px;
}

.button_submit {
  width: auto;
}

.hero-button {
  // min-width: 190px;
  // max-width: 190px;
  // padding: 16px 32px;
  @media screen and (min-width: 1200px) {
    min-width: 200px;
    max-width: 200px;
    padding: 30px 0;
  }
}

.hero-button-fitness {
  min-width: 272px;
  max-width: 272px;
  padding: 18px 0;
}
