.accent-title {
  margin-bottom: 12px;
  font-family: 'Druk Cyr';
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  text-transform: uppercase;
  color: $dark-bg-color;

  @media screen and (min-width: 768px) {
    margin-bottom: 18px;
    font-size: 32px;
  }
}

.accent-list {
  padding: 20px;
  margin-bottom: 32px;
  background-color: $white-color;
  border-top: 2px solid $accent-bg-color;
  border-left: 2px solid $accent-bg-color;
  box-shadow: 4px 4px 0px 2px #f87100;
  border-radius: 12px;
  max-width: 440px;
  margin-right: auto;
  margin-left: auto;
  &:not(:last-child) {
    margin-bottom: 32px;
  }

  @media screen and (min-width: 768px) {
    padding: 30px;
    margin-bottom: 38px;
    gap: 16px;
    margin-right: 0;
    margin-left: 0;
    min-width: 440px;
    max-width: 550px;
    &:not(:last-child) {
      margin-bottom: 38px;
    }

    @media screen and (min-width: 1200px) {
      max-width: 640px;
    }
  }

  &--transparent {
    border: none;
    box-shadow: none;
    padding: 0;
    margin-bottom: 0;
    font-size: 14px;
    &:not(:last-child) {
      margin-bottom: 0;
    }

    @media screen and (min-width: 768px) {
      min-width: 0;
      max-width: 340px;
    }

    @media screen and (min-width: 900px) {
      max-width: 440px;
    }
  }

  &--center {
    margin-right: auto;
    margin-left: auto;
  }
}

.accent-item {
  display: flex;
  align-items: first baseline;
  gap: 8px;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  color: $dark-bg-color;

  @media screen and (min-width: 768px) {
    gap: 16px;
    font-size: 16px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 26px;
    font-size: 18px;
  }

  &--trainer {
    align-items: flex-start;
    gap: 6px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.7;

    @media screen and (min-width: 768px) {
      font-size: 16px;
    }
  }
}

.accent-icon {
  min-width: 12px;
  min-height: 12px;
  @media screen and (min-width: 768px) {
    min-width: 16px;
    min-height: 16px;
  }
}

.accent-item:last-child {
  margin-bottom: 0;
}

.hidden {
  display: none;
}

.bottom-12 {
  margin-bottom: 12px;
}

.bottom-24 {
  margin-bottom: 24px;
}

.bottom-0 {
  margin-bottom: 0;
}

.line {
  background-image: url(../images/line-bg.jpg);
  background-position-x: 50%;
  // background-position-y: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100px;
  max-width: 1440px;

  // @media (min-device-pixel-ratio: 2),
  //   (-webkit-min-device-pixel-ratio: 2),
  //   (min-resolution: 192dpi),
  //   (min-resolution: 2dppx) {
  //   & {
  //     background-image: url(../images/hero_mobile@2x.jpg);
  //   }
  // }

  @media screen and (min-width: 768px) {
    height: 130px;
  }
  @media screen and (min-width: 1000px) {
    height: 170px;
  }
  @media screen and (min-width: 1300px) {
    height: 190px;
  }
}

// #try-main-bg {
//   background-color: #fff;
// }

// .accent-bg {
//   background-color: $accent-bg-color;
// }

// .padding-left-16 {
//   padding-left: 16px;
// }
// .padding-48 {
//   padding: 0 0 48px;
//   background-color: #fff;
// }
