.accent-title {
  margin-bottom: 12px;
  font-family: 'Druk Cyr';
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  line-height: 1.5;
  text-transform: uppercase;
  color: $dark-bg-color;

  @media screen and (min-width: 768px) {
    margin-bottom: 18px;
    font-size: 32px;
  }
}

.trainer-expirience {
  @media screen and (min-width: 768px) {
    display: none;
    margin-bottom: 18px;
    font-size: 32px;
  }
}

.accent-list {
  padding: 20px;
  margin-bottom: 32px;
  background-color: $accent-light-color;
  box-shadow: 4px 4px 0px $black-color;
  border-radius: 12px;
  max-width: 625px;

  @media screen and (min-width: 768px) {
    padding: 30px;
    margin-bottom: 26px;
    gap: 16px;
  }
}

.accent-item {
  display: flex;
  align-items: first baseline;
  gap: 8px;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  color: $white-color;

  @media screen and (min-width: 768px) {
    margin-bottom: 26px;
    gap: 16px;
    font-size: 18px;
  }
}

.accent-icon {
  min-width: 12px;
  min-height: 12px;
  @media screen and (min-width: 768px) {
    min-width: 16px;
    min-height: 16px;
  }
}

.accent-item:last-child {
  margin-bottom: 0;
}

.hidden {
  display: none;
}

.bottom-12 {
  margin-bottom: 12px;
}

.bottom-24 {
  margin-bottom: 24px;
}

.bottom-20 {
  margin-bottom: 20px;
}

.bottom-272 {
  margin-bottom: 272px;
}
.bottom-60 {
  margin-bottom: 60px;
}
.bottom-162 {
  margin-bottom: 162px;
}
.bottom-85 {
  margin-bottom: 85px;
}
.bottom-117 {
  margin-bottom: 117px;
}

#try-main-bg {
  background-color: #fff;
}

.quote {
  position: relative;
  padding: 60px 20px 60px;
  background-color: $white-color;

  @media screen and (min-width: 768px) {
    padding: 60x 40px 60px;
  }

  @media screen and (min-width: 1200px) {
    padding: 100px 80px 120px;
  }
}

.quote-icon {
  position: absolute;
  top: 0;
  // left: 0;
}
.accent-bg {
  background-color: $accent-bg-color;
}

.padding-left-16 {
  padding-left: 16px;
}
.padding-48 {
  padding: 0 0 48px;
  background-color: #fff;
}

@media (max-width: 500px) {
  .center-mobile {
    margin-right: auto;
    margin-left: auto;
  }
}
