.accent-list {
  padding: 20px;
  margin-bottom: 32px;
  background-color: $accent-light-color;
  box-shadow: 4px 4px 0px $black-color;
  border-radius: 12px;
}

.accent-item {
  display: flex;
  align-items: first baseline;
  gap: 8px;
  margin-bottom: 12px;
  font-family: 'Mont';
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  color: $white-color;
}

.accent-icon {
  min-width: 12px;
  min-height: 12px;
}

.accent-item:last-child {
  margin-bottom: 0;
}

.hidden {
  display: none;
}

.bottom-12 {
  margin-bottom: 12px;
}

.bottom-24 {
  margin-bottom: 24px;
}

#try-main-bg {
  background-color: #fff;
}
