.contact {
  background-color: $dark-bg-color;
  color: $white-color;
  padding: 20px 20px 60px;

  @media screen and (min-width: 768px) {
    padding: 60px 40px 60px;
  }

  @media screen and (min-width: 1200px) {
    padding: 40px 80px 80px;
  }
}

@media screen and (min-width: 1200px) {
  .contact-box {
    display: flex;
    gap: 90px;
    align-items: start;
  }
}

.contact-info {
  margin-bottom: 22px;
  font-size: 14px;
  font-weight: 500;
  line-height: 170%;

  @media screen and (min-width: 1200px) {
    font-size: 16px;
  }
}

.contact-link {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 18px;
  font-weight: 800;
  line-height: 150%;
  text-decoration-line: underline;

  @media screen and (min-width: 1200px) {
    font-size: 22px;
  }
}

.contact-item {
  margin-bottom: 20px;
}
