.contact {
  background-color: $dark-bg-color;
  color: $white-color;
  padding: 20px 20px 60px;
}

.contact-info {
  margin-bottom: 22px;
  font-size: 14px;
  font-weight: 500;
  line-height: 170%;
}

.contact-link {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 18px;
  font-weight: 800;
  line-height: 150%;
  text-decoration-line: underline;
}

.contact-item {
  margin-bottom: 20px;
}
