.description {
  padding: 60px 20px;
}

.descr-features {
  margin-bottom: 24px;
  font-family: 'Druk Cyr';
  font-weight: 700;
  font-size: 42px;
  line-height: 1;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #272727;
}

.descr-item {
  display: flex;
  align-items: flex-start;
  gap: 5px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  color: #000000;
}
.descr-icon {
  min-width: 24px;
  min-height: 24px;
}

.join-title {
  margin-bottom: 12px;
  font-family: 'Druk Cyr';
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  line-height: 1.5;
  letter-spacing: 0.02em;
  hanging-punctuation: first last;
  text-transform: uppercase;
  color: #272727;
}

.join-list {
  padding: 20px;
  margin-bottom: 32px;
  background-color: #f87a11;
  box-shadow: 4px 4px 0px #000000;
  border-radius: 12px;
}

.join-item {
  display: flex;
  align-items: baseline;
  gap: 8px;
  margin-bottom: 10px;
  font-family: 'Mont';
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  color: #ffffff;
}

.join-icon {
  min-width: 12px;
  min-height: 12px;
}

.join-item:last-child {
  margin-bottom: 0;
}
