.description {
  padding: 40px 20px;
  background-color: $white-color;

  @media screen and (min-width: 768px) {
    padding: 60px 40px;
  }

  @media screen and (min-width: 1200px) {
    padding: 100px 80px 120px;
  }
}

.descr-title {
  color: $dark-bg-color;

  @media screen and (min-width: 1000px) {
    display: block;
    max-width: 408px;
    min-width: 408px;
    margin-top: -30px;
  }
}
.descr-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.descr-item {
  display: flex;
  align-items: flex-start;
  gap: 5px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  color: $black-color;

  @media screen and (min-width: 1000px) {
    font-size: 18px;
    line-height: normal;
  }
}
.descr-item--white {
  color: white;
  font-weight: 300;
  font-size: 12px;
  gap: 10px;
  flex-direction: column;
  width: 130px;

  @media screen and (min-width: 375px) {
    width: 158px;
    font-weight: 500;
    font-size: 14px;
  }
}
.descr-item--baseline {
  align-items: baseline;
}

.descr-title--white {
  color: white;
}

.descr-icon {
  min-width: 24px;
  min-height: 24px;
}

@media screen and (min-width: 1200px) {
  .description-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
  }

  .description-box1 {
    display: flex;
    justify-content: space-between;
    transform: translateX(-50px);
  }

  .hidden-button {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .descr-accent-list-tablet {
    margin-right: auto;
    margin-left: auto;
  }
}

.descr-subtitle {
  color: #000;
  font-size: 14px;
  font-style: italic;
  font-weight: 500;
  line-height: 150%; /* 21px */
  margin-left: 22px;
  margin-bottom: 13px;
  display: block;
}

.description-box--black {
  background-color: $dark-bg-color;
  padding: 20px;
}
.result {
  display: grid;
  gap: 24px;
}
.result-descr {
  padding: 18px 24px;
  border-radius: 12px;
  border: 1px solid #ff7400;
}

.result-text {
  font-size: 14px;
  font-weight: 800;
  line-height: 150%; /* 21px */
}

.result-descr-title {
  font-family: Druk Cyr;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.48px;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.warning-title-orange {
  color: $accent-bg-color;
  margin-bottom: 6px;
}

.warning-list {
  padding-left: 24px;
  margin-top: 18px;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.warning-item {
  display: flex;
  gap: 6px;
  align-items: center;
}

.fitness-try-video {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.fitness-foto {
  background-image: url(../images/fitness-mobile.jpg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  width: 100%;
  height: 233px;
  // padding-top: 39px;

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    & {
      background-image: url(../images/fitness-mobile@2x.jpg);
    }
  }

  // @media screen and (min-width: 768px) {
  //   max-width: 1439px;
  //   background-image: url(../images/hero-desktop.jpg);

  //   @media (min-device-pixel-ratio: 2),
  //     (-webkit-min-device-pixel-ratio: 2),
  //     (min-resolution: 192dpi),
  //     (min-resolution: 2dppx) {
  //     & {
  //       background-image: url(../images/hero-desktop@2x.jpg);
  //     }
  //   }
  // }
  // @media screen and (min-width: 1440px) {
  //   max-width: 1440px;
  //   background-image: url(../images/hero-desktop.jpg);

  //   @media (min-device-pixel-ratio: 2),
  //     (-webkit-min-device-pixel-ratio: 2),
  //     (min-resolution: 192dpi),
  //     (min-resolution: 2dppx) {
  //     & {
  //       background-image: url(../images/hero-desktop@2x.jpg);
  //     }
  //   }
  // }
}
