.description {
  padding: 40px 20px;
  background-color: $white-color;

  @media screen and (min-width: 768px) {
    padding: 60px 40px;
  }

  @media screen and (min-width: 1200px) {
    padding: 120px 80px 120px;
  }
}

.description-box {
  @media screen and (min-width: 768px) {
    display: flex;
    // justify-content: space-between;
    gap: 10px;
  }

  @media screen and (min-width: 850px) {
    gap: 30px;
  }
  @media screen and (min-width: 1000px) {
    gap: 40px;
  }
  @media screen and (min-width: 1300px) {
    gap: 70px;
  }

  &--bottom {
    margin-bottom: 40px;

    @media (min-width: 768px) {
      margin-bottom: 60px;
    }

    @media (min-width: 1200px) {
      margin-bottom: 120px;
    }
  }
}

.description-box--fitness {
  @media screen and (min-width: 1200px) {
    padding-bottom: 80px;
  }
}

.descr-list {
  display: grid;
  grid-template-columns: 1fr;
  // flex-wrap: wrap;
  gap: 20px;
  max-width: 440px;
  // justify-content: center;
  // margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    transform: translateY(10px);
    max-width: 640px;
  }
  @media screen and (min-width: 1000px) {
    transform: translateY(20px);
    // margin-bottom: 80px;
  }

  @media screen and (min-width: 1440px) {
    transform: translateY(35px);
  }
}

.descr-list--bootom {
  margin-bottom: 60px;
  // @media screen and (min-width: 768px) {
  //   margin-bottom: 40px;
  // }

  // @media screen and (min-width: 1000px) {
  //   margin-bottom: 5px;
  // }
  @media screen and (min-width: 1300px) {
    margin-bottom: 80px;
  }
}
.descr-title {
  display: block;
  width: 240px;
  @media screen and (min-width: 768px) {
    width: 450px;
  }

  // &--big {
  //   @media screen and (min-width: 768px) {
  //     min-width: 200px;
  //   }
  //   @media screen and (min-width: 850px) {
  //     min-width: 260px;
  //   }
  //   @media screen and (min-width: 1000px) {
  //     min-width: 350px;
  //   }
  //   @media screen and (min-width: 1300px) {
  //     min-width: 450px;
  //   }
  // }
}

.descr-item {
  display: flex;
  align-items: flex-start;
  gap: 5px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  color: $black-color;

  @media screen and (min-width: 550px) {
    gap: 10px;
  }

  @media screen and (min-width: 1000px) {
    font-size: 18px;
    line-height: normal;
  }
}

.description-box--black {
  background-color: $dark-bg-color;
  padding: 20px 20px;

  @media screen and (min-width: 768px) {
    padding: 40px;
  }

  @media screen and (min-width: 1200px) {
    padding: 80px;
  }
}

.descr-list--black {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 20px;

  @media screen and (min-width: 400px) {
    padding-left: 30px;
  }

  @media screen and (min-width: 600px) {
    align-items: flex-start;
  }

  @media screen and (min-width: 900px) {
    padding-left: 50px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  @media screen and (min-width: 1200px) {
    gap: 117px;
    padding-left: 100px;
  }
}

.descr-item--white {
  color: white;
  font-weight: 300;
  font-size: 12px;
  gap: 10px;
  flex-direction: column;
  line-height: 170%;

  @media screen and (min-width: 376px) {
    font-weight: 500;
    font-size: 14px;
  }

  @media screen and (min-width: 1000px) {
    font-size: 18px;
  }
}

.descr-item--baseline {
  align-items: baseline;
}

.descr-icon {
  min-width: 24px;
  min-height: 24px;
}

.descr-subtitle {
  color: #000;
  font-size: 14px;
  font-style: italic;
  font-weight: 500;
  line-height: 150%; /* 21px */
  margin-left: 22px;
  margin-bottom: 13px;
  display: block;
}

.result {
  padding: 0 20px 30px;
  background-color: $white-color;

  @media screen and (min-width: 768px) {
    padding: 0 40px 60px;
  }

  @media screen and (min-width: 1200px) {
    padding: 0 80px 100px;
  }
}

.result-descr-box {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: center;
  }

  @media screen and (min-width: 1200px) {
    gap: 100px;
  }
}
.result-list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.result-descr {
  align-self: center;
  padding: 18px 24px;
  border-radius: 12px;
  border: 1px solid #ff7400;
  width: 280px;

  @media screen and (min-width: 400px) {
    width: 350px;
  }
  @media screen and (min-width: 768px) {
    width: 370px;
  }
  @media screen and (min-width: 900px) {
    padding: 32px 42px;
    width: 400px;
  }
}

.result-text {
  font-size: 14px;
  font-weight: 600;
  line-height: 150%;
  margin-bottom: 24px; /* 21px */

  @media screen and (min-width: 1200px) {
    margin-bottom: 48px;
    font-size: 20px;
  }
}

.result-descr-title {
  font-family: Druk Cyr;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.48px;
  text-transform: uppercase;
  color: $dark-bg-color;
  margin-bottom: 12px;
  @media screen and (min-width: 1000px) {
    font-size: 32px;
    letter-spacing: 0.96px;
  }
}

.result-item {
  display: flex;
  gap: 4px;
  align-items: center;
  color: #000;
  font-size: 14px;
  font-weight: 500;

  @media screen and (min-width: 1000px) {
    font-size: 16px;
  }
}

@media screen and (min-width: 768px) {
  .warning {
    display: none;
  }
}
.warning--desktop {
  @media screen and (max-width: 767px) {
    display: none;
  }
  margin-bottom: 60px;
}

.warning--desktop-container {
  display: flex;
  align-items: baseline;
  gap: 8px;
  margin-bottom: 24px;
}

.warning-desktop-title-orange {
  color: $accent-bg-color;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 0.48px;
  text-transform: uppercase;
  font-family: Druk Cyr;
}

.warning--desktop-text {
  color: $dark-bg-color;
  font-size: 20px;
  font-weight: 800;
  line-height: 150%;
}

.warning-title-orange {
  color: $accent-bg-color;
  margin-bottom: 6px;
  margin-top: 60px;
}

.warning-list {
  padding-left: 24px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.warning-item {
  display: flex;
  gap: 6px;
}

.warning-icon {
  min-width: 20px;
  min-height: 20px;
}

.fitness-try-video {
  overflow: hidden;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
}
.fitness-try-video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.fitness-foto {
  background-image: url(../images/fitness-mobile.jpg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  width: 100%;
  height: 233px;

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    & {
      background-image: url(../images/fitness-mobile@2x.jpg);
    }
  }

  @media screen and (min-width: 500px) {
    height: 330px;
  }
  @media screen and (min-width: 600px) {
    height: 370px;
  }

  @media screen and (min-width: 768px) {
    height: 500px;
    max-width: 1440px;
    background-image: url(../images/fitness-desktop.jpg);

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      & {
        background-image: url(../images/fitness-desktop@2x.jpg);
      }
    }
  }
  @media screen and (min-width: 1000px) {
    height: 600px;
  }
  @media screen and (min-width: 1200px) {
    height: 800px;
  }
  @media screen and (min-width: 1440px) {
    height: 894px;
  }
}

.video {
  padding: 0 20px 60px;
  background-color: $white-color;

  @media screen and (min-width: 768px) {
    padding: 0 40px 60px;
  }

  @media screen and (min-width: 1200px) {
    padding: 0 80px 120px;
  }
}

// .follow {
//   max-width: 640px;
// }

// .follow-fitness-box {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   @media screen and (min-width: 768px) {
//     padding-bottom: 60px;
//   }
//   @media screen and (min-width: 1200px) {
//     transform: translateX(15%);
//     padding-bottom: 120px;
//   }
//   @media screen and (min-width: 1300px) {
//     transform: translateX(20%);
//   }
//   @media screen and (min-width: 1400px) {
//     transform: translateX(15%);
//   }
// }

// .follow-container {
//   background-color: $white-color;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;

//   @media screen and (min-width: 768px) {
//     padding-bottom: 60px;
//   }

//   @media screen and (min-width: 1200px) {
//     padding-bottom: 120px;
//   }
// }

// .follow-fitness {
//   background-repeat: no-repeat;
//   background-size: cover;
//   background-color: $white-color;
//   @media screen and (min-width: 1200px) {
//     max-width: 1440px;
//     background-image: url(../images/fitness-bg.jpg);

//     @media (min-device-pixel-ratio: 2),
//       (-webkit-min-device-pixel-ratio: 2),
//       (min-resolution: 192dpi),
//       (min-resolution: 2dppx) {
//     }
//   }
// }
