.header {
  z-index: 100;
  width: 100%;
  margin: 0 auto;
  border: none;
}

.header_container {
  background-color: $dark-bg-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 12px 13px 20px;
}

.header_container-white {
  background-color: $white-color;
}
.header_logo_container {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: space-between;
}

.header-title {
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: 900;
  font-size: 12px;
  color: $accent-bg-color;
  text-transform: uppercase;
}

.header__link {
  color: wheat;
}
@media (max-width: 767px) {
  .header__menu {
    display: none;
  }
}
@media (min-width: 768px) {
  .header__menu {
    display: flex;
    gap: 30px;
  }
}
