.hero {
  background-color: rgb(89, 92, 110);
  text-align: center;
  padding: 80px 18px 20px;
  color: wheat;
}

.hero-title-upper {
  font-size: 32px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 8px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  font-style: normal;
}

.hero-title {
  font-size: 16px;
  margin-bottom: 20px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  font-style: italic;
}

.hero-subtitle {
  font-size: 32px;
  margin-bottom: 26px;
  line-height: 1.14;
  letter-spacing: 0.04em;
}

.hero-descr {
  font-size: 16px;
  margin-bottom: 26px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.hero-descr1 {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 26px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
