.marquee {
  overflow: hidden;
  padding: 5px 0;
  display: flex;
  background-color: $dark-bg-color;
}

.marquee_text {
  font-family: 'Druk Cyr';
  font-style: italic;
  font-weight: 600;
  font-size: 17px;
  line-height: 1.2;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $accent-light-color;
  white-space: nowrap;
}

.poster {
  padding: 60px 0;
}

.marquee-poster-dark {
  transform: translate(0, 35px) rotate(5deg);
  // transform: translate(30px, 20px) rotate(5deg);
}

.marquee-poster-accent {
  transform: translate(0, 5px) rotate(-5deg);
  background-color: $accent-light-color;
}

.marquee_text-light {
  color: $white-color;
}
