.package-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.package-item {
  padding: 12px 12px 32px 12px;
  border-radius: 12px;
  border: 1px solid #6fc7b8;
}

.package-item-base {
  border: 1px solid #f18ea3;
}

.package-item-box {
  margin-bottom: 24px;
  text-align: center;
  padding: 24px 0 40px;
  border-radius: 12px;
  background-color: #6fc7b8;
}

.package-item-box-base {
  background-color: #f18ea3;
}

.package-title {
  margin-bottom: 24px;
  color: $white-color;
  text-shadow: 0px 4px 4px 0px rgba(39, 39, 39, 0.1);
  font-size: 52px;
  font-family: Druk Cyr;
  font-style: italic;
  font-weight: 900;
  line-height: 96%;
  letter-spacing: 1.04px;
  text-transform: uppercase;
}

.package-item-descr-list {
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.package-item-descr {
  display: flex;
  gap: 6px;
  align-items: flex-start;
  color: $dark-bg-color;
  font-size: 14px;
  font-weight: 700;
  line-height: 170%;
}

.package-test-button {
  background-color: #6fc7b8;
}

.package-base-button {
  background-color: #f18ea3;
}

.package-item-premium {
  border: 1px solid #ff7400;
}

.package-item-box-premium {
  background-color: #ff7400;
}

.package-title-premium {
  margin-bottom: 6px;
}

.package-title-descr {
  margin-bottom: 24px;
  color: $dark-bg-color;
  text-shadow: 0px 4px 4px 0px rgba(39, 39, 39, 0.1);
  font-size: 24px;
  font-family: Druk Cyr;
  font-style: italic;
  font-weight: 700;
  line-height: 96%;
  letter-spacing: 0.48px;
  text-transform: uppercase;
}

.package-premium-button {
  background-color: #ff7400;
}
