.products {
  padding: 60px 20px 0;
  background-color: $white-color;

  @media screen and (min-width: 768px) {
    padding: 60px 40px;
  }

  @media screen and (min-width: 1200px) {
    padding: 100px 80px 120px;
  }
}

.products-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 24px;
  column-gap: 16px;
}
.products-item {
  max-width: 158px;

  &__image {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
  }
  &__text {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: $dark-bg-color;
    background-color: $accent-bg-color;
    min-height: 70px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
  }
}
