.go-top {
  position: fixed;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
  fill: $accent-bg-color;
  border: 10px solid $grey-text-color;
  background-color: $grey-text-color;
  border-radius: 50%;
  visibility: hidden;
  opacity: 0;
  transition: 500ms opacity, 500ms visibility;
  z-index: 101;
  display: flex;
}
.go-top:hover,
.go-top:focus {
  filter: brightness(1.5);
  transition: all 200ms;
}
.go-top-show {
  opacity: 1;
  visibility: visible;
  z-index: 100;
  transition: 500ms opacity, 500ms visibility;
}
