.title {
  font-size: 30px;
  margin-bottom: 30px;
  // text-align: center;
  text-transform: uppercase;

  &-2 {
    font-size: 24px;
    margin: 0;
  }

  &-3 {
    font-size: 20px;
    margin-bottom: 12px;
  }
}
// .form-title {
//   text-align: center;
// }
.description-title {
  font-size: 20px;
  margin-bottom: 16px;
}
