.title {
  margin-bottom: 24px;
  font-family: 'Druk Cyr';
  font-weight: 700;
  font-size: 42px;
  line-height: 1;
  letter-spacing: 0.02em;
  hanging-punctuation: first last;
  text-transform: uppercase;
}
