.title {
  margin-bottom: 24px;
  font-family: 'Druk Cyr';
  font-weight: 700;
  font-size: 42px;
  line-height: 1;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  @media screen and (min-width: 1000px) {
    margin-bottom: 38px;
    font-size: 72px;
    line-height: 120%;
    letter-spacing: 1.44px;
  }
}

@media screen and (min-width: 1000px) {
  .underline-title {
    text-decoration: underline #f87a10 4px;
    text-underline-offset: 8px;
  }
}
