.trainer {
  padding: 20px 24px;
}
.trainer-subtitle {
  font-size: 32px;
  margin-bottom: 16px;
}

.trainer-title {
  font-size: 18px;
  margin-bottom: 16px;
}

.social {
  display: block;
  margin-bottom: 16px;
}

.education-item {
  font-size: 14px;
  margin-bottom: 16px;
}

.education-subitem {
  font-size: 12px;
  margin-bottom: 8px;
}
.education-subitem:first-child {
  margin-top: 12px;
}
.trainer-knowledge {
  text-align: center;
  font-size: 12px;
  margin-bottom: 16px;
}

.trainer-knowledge-italic {
  font-style: italic;
}
