.trainer {
  background-color: bisque;
}
.trainer-subtitle {
  font-size: 32px;
  margin-bottom: 16px;
}

.trainer-title {
  font-size: 16px;
  margin-bottom: 16px;
}

.icon-inst {
  margin-right: 8px;
}
.inst-link {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.education-item {
  font-size: 16px;
  margin-bottom: 16px;
  font-weight: 500;
}

.education-subitem {
  font-size: 12px;
  margin-bottom: 8px;
}
.education-subitem:first-child {
  margin-top: 12px;
}
.trainer-knowledge {
  text-align: center;
  font-size: 12px;
  margin-bottom: 16px;
}

.trainer-knowledge-italic {
  font-style: italic;
}
