.trainer {
  padding: 60px 20px;
}

.trainer-title {
  margin-bottom: 12px;
  font-family: 'Druk Cyr';
  font-weight: 700;
  font-size: 42px;
  line-height: 1;
  letter-spacing: 0.02em;
  hanging-punctuation: first last;
  text-transform: uppercase;
  color: $dark-bg-color;
}

.trainer-subtitle {
  margin-bottom: 24px;
  font-size: 18px;
  line-height: 1.5;
  color: $grey-text-color;
}

.trainer-foto {
  margin-bottom: 32px;
  margin-right: auto;
  margin-left: auto;
}

.trainer-ed-title {
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.3;
  color: $black-color;
}

.trainer-ed-item {
  margin-bottom: 12px;
  display: flex;
  align-items: flex-start;
  gap: 6px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.7;
  color: $black-color;
}

.trainer-expirience-list {
  margin-bottom: 60px;
}

.trainer-expirience {
  margin-bottom: 12px;
  font-size: 14px;
  line-height: 1.3;
  color: $dark-bg-color;
}

.trainer-quote-box {
  position: relative;
}
.trainer-quote-icon {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-40%);
}

.trainer-quote {
  padding-left: 32px;
  font-style: italic;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.7;
  color: $black-color;
  z-index: 100;
}
