<section class="container argument">
  <h2 class="title underline-title title--white">
    Чому варто обрати саме цей курс?
  </h2>
  <ul class="list argument-list">
    <li class="argument-item">
      <svg class="arg-icon" width="24" height="24">
        <use href="./images/icons.svg#icon-user"></use>
      </svg>
      Покращите поставу
      <p class="argument-item-descr">
        Розвинете мобільність хребта. Гнучкість тіла без болю – це не
        фантастика, а наслідок продуманої системи наших тренувань.
      </p>
    </li>
    <li class="argument-item">
      <svg class="arg-icon" width="24" height="24">
        <use href="./images/icons.svg#icon-caution"></use>
      </svg>
      Навчитесь правильній техніці
      <p class="argument-item-descr">
        Зрозумієте правильну техніку винонання вправ. Задієте саме ті м'язи які
        потрібно, і не травмуватимете себе.
      </p>
    </li>
    <li class="argument-item">
      <svg class="arg-icon" width="24" height="24">
        <use href="./images/icons.svg#icon-bike-2"></use>
      </svg>
      Підвищите витривалість
      <p class="argument-item-descr">
        Відчуєте себе сильними при виконанні вправ, які на перший погляд
        здаватимуться важкими.
      </p>
    </li>
    <li class="argument-item">
      <svg class="arg-icon" width="24" height="24">
        <use href="./images/icons.svg#icon-battery-charge"></use>
      </svg>
      Відчуєте енергію
      <p class="argument-item-descr">
        Отримаєте заряд бадьорості та енергії для самореалізації. Нормалізуєте
        сон і роботу ендокринної системи.
      </p>
    </li>
    <li class="argument-item">
      <svg class="arg-icon" width="24" height="24">
        <use href="./images/icons.svg#icon-apple-fruit"></use>
      </svg>
      Навчитесь раціонально харчуватись
      <p class="argument-item-descr">
        Дізнаєтесь секрети раціонального харчування без жорстких обмежень.
        Дозволите собі "заборонені" продукти без дорікань.
      </p>
    </li>
    <li class="argument-item">
      <svg class="arg-icon" width="24" height="24">
        <use href="./images/icons.svg#icon-infinite"></use>
      </svg>
      Станете стрункішими
      <p class="argument-item-descr">
        Втратите зайві кілограми без дієт і жорстких обмежень. Ваша шкіра
        помітно підтягнеться, при цьому ви будете енергійні і в гарному настрої.
      </p>
    </li>
  </ul>
</section>
