<section class="argument container section">
  <h2 class="argument-title">З нашим курсом ви:</h2>
  <ul class="list">
    <li class="argument-item">
      <div class="argument-box">
        <svg width="10" height="10">
          <use href="./images/icons.svg#icon-mark"></use>
        </svg>
        Покращите поставу
      </div>
      <p class="argument-item-descr">
        Розвинете гнучкість та мобільність хребта.
      </p>
    </li>
    <li class="argument-item">
      <div class="argument-box">
        <svg width="10" height="10">
          <use href="./images/icons.svg#icon-mark"></use>
        </svg>
        Підвищите витривалість
      </div>
      <p class="argument-item-descr">
        Відчуєте себе сильними при виконанні вправ, які на перший погляд
        здаватимуться важкими.
      </p>
    </li>
    <li class="argument-item">
      <div class="argument-box">
        <svg width="10" height="10">
          <use href="./images/icons.svg#icon-mark"></use>
        </svg>
        Навчитесь раціонально харчуватись
      </div>
      <p class="argument-item-descr">
        Дізнаєтесь секрети раціонального харчування без жорстких обмежень.
        Дозволите собі "заборонені" продукти без дорікань.
      </p>
    </li>
    <li class="argument-item">
      <div class="argument-box">
        <svg width="10" height="10">
          <use href="./images/icons.svg#icon-mark"></use>
        </svg>
        Відчуєте енергію
      </div>
      <p class="argument-item-descr">
        Отримаєте заряд бадьорості та енергії для самореалізації. Нормалізуєте
        сон і роботу ендокринної системи.
      </p>
    </li>
    <li class="argument-item">
      <div class="argument-box">
        <svg width="10" height="10">
          <use href="./images/icons.svg#icon-mark"></use>
        </svg>
        Навчитесь правильній техніці
      </div>
      <p class="argument-item-descr">
        Зрозумієте правильну техніку винонання вправ. Задієте саме ті м'язи які
        потрібно, і не травмуватимете себе.
      </p>
    </li>
    <li class="argument-item">
      <div class="argument-box">
        <svg width="10" height="10">
          <use href="./images/icons.svg#icon-mark"></use>
        </svg>
        Станете стрункішими
      </div>
      <p class="argument-item-descr">
        Втратите зайві кілограми без дієт і жорстких обмежень. Ваша шкіра
        помітно підтягнеться, при цьому ви будете енергійні і в гарному настрої.
      </p>
    </li>
    <li>
      <div class="argument-box">
        <svg width="10" height="10">
          <use href="./images/icons.svg#icon-mark"></use>
        </svg>
        Покращите поставу
      </div>
      <p class="argument-item-descr">
        Гнучкість тіла без болю це не фантастика, а наслідок продуманої системи
        наших тренувань.
      </p>
    </li>
  </ul>
  <a href="#" class="button">Спробувати</a>
</section>
