<section class="argument container section">
  <h2 class="argument-title">З нашим курсом ви:</h2>
  <ul>
    <li class="argument-item">
      Покращите поставу
      <p class="argument-item-descr">
        Розвинете гнучкість та мобільність хребта.
      </p>
    </li>
    <li class="argument-item">
      Підвищите витривалість
      <p class="argument-item-descr">
        Відчуєте себе сильними при виконанні вправ, які на перший погляд
        здаватимуться важкими.
      </p>
    </li>
    <li class="argument-item">
      Навчитесь раціонально харчуватись
      <p class="argument-item-descr">
        Дізнаєтесь секрети раціонального харчування без жорстких обмежень.
        Дозволите собі "заборонені" продукти без дорікань.
      </p>
    </li>
    <li class="argument-item">
      Відчуєте енергію
      <p class="argument-item-descr">
        Отримаєте заряд бадьорості та енергії для самореалізації. Нормалізуєте
        сон і роботу ендокринної системи.
      </p>
    </li>
    <li class="argument-item">
      Навчитесь правильній техніці
      <p class="argument-item-descr">
        Зрозумієте правильну техніку винонання вправ. Задієте саме ті м'язи які
        потрібно, і не травмуватимете себе.
      </p>
    </li>
    <li class="argument-item">
      Станете стрункішими
      <p class="argument-item-descr">
        Втратите зайві кілограми без дієт і жорстких обмежень. Ваша шкіра
        помітно підтягнеться, при цьому ви будете енергійні і в гарному настрої.
      </p>
    </li>
    <li>
      Розвинете мобільність суглобів
      <p class="argument-item-descr">
        Гнучкість тіла без болю це не фантастика, а наслідок продуманої системи
        наших тренувань.
      </p>
    </li>
  </ul>
  <a href="#" class="try-button">Спробувати</a>
</section>
