<section id="description" class="container description">
  <div class="description-box">
    <h2 class="title">
      Цей інтенсив для <br />
      вас, якщо ви...
    </h2>
    <ul class="descr-list description-list--block">
      <li class="descr-item">
        <svg class="descr-icon" width="24" height="24">
          <use href="./images/icons.svg#icon-chevrons-right"></use></svg
        >Ви займаєтеся вже давно, але ваші сідниці не мають такого вигляду, як
        ви хотіли б
      </li>
      <li class="descr-item">
        <svg class="descr-icon" width="24" height="24">
          <use href="./images/icons.svg#icon-chevrons-right"></use></svg
        >У вправах, спрямованих на сідничні м'язи, ви не відчуваєте їх роботу.
      </li>
      <li class="descr-item">
        <svg class="descr-icon" width="24" height="24">
          <use href="./images/icons.svg#icon-chevrons-right"></use>
        </svg>
        У вас є прояви целюліту, і ви не можете його позбавитися
      </li>
      <li class="descr-item">
        <svg class="descr-icon" width="24" height="24">
          <use href="./images/icons.svg#icon-chevrons-right"></use>
        </svg>
        Вас хвилює можливий ризик травмування колінних суглобів внаслідок
        виконання вправ з YouTube
      </li>
      <li class="descr-item">
        <svg class="descr-icon" width="24" height="24">
          <use href="./images/icons.svg#icon-chevrons-right"></use></svg
        >Ви розчаровані результатами марафонів схуднення, де відчуваєте лиш біль
        у мʼязах, але сідниці не набувають об'єму
      </li>
    </ul>
  </div>
</section>
<section class="container result">
  <h2 class="title">Результати за 21 день</h2>
  <p class="result-text">
    За 21 день результати програми можуть бути помітними як для вас, так і для
    оточуючих:
  </p>
  <div class="result-descr-box">
    <div class="result-descr">
      <h3 class="result-descr-title">Помітні для оточення</h3>
      <ul class="list result-list">
        <li class="package-item-descr">
          <svg class="arg-icon" width="20" height="20">
            <use href="./images/icons.svg#icon-check_orange"></use>
          </svg>
          Сідниці стануть підтягнутими та пружними
        </li>
        <li class="package-item-descr">
          <svg class="arg-icon" width="20" height="20">
            <use href="./images/icons.svg#icon-check_orange"></use>
          </svg>
          Зменшаться прояви целюліту
        </li>
        <li class="package-item-descr">
          <svg class="arg-icon" width="20" height="20">
            <use href="./images/icons.svg#icon-check_orange"></use>
          </svg>
          Корекція постави
        </li>
      </ul>
    </div>
    <div class="result-descr">
      <h3 class="result-descr-title">Помітні лише для вас</h3>
      <ul class="list result-list">
        <li class="package-item-descr">
          <svg class="arg-icon" width="20" height="20">
            <use href="./images/icons.svg#icon-check_orange"></use>
          </svg>
          Зміцнення мʼязів кору
        </li>
        <li class="package-item-descr">
          <svg class="arg-icon" width="20" height="20">
            <use href="./images/icons.svg#icon-check_orange"></use>
          </svg>
          Укріплення мʼязів тазового дна
        </li>
        <li class="package-item-descr">
          <svg class="arg-icon" width="20" height="20">
            <use href="./images/icons.svg#icon-check_orange"></use>
          </svg>
          Підсилене відчуття оргазмів
        </li>
      </ul>
    </div>
  </div>
  <div class="warning">
    <h3 class="result-descr-title warning-title-orange">Увага!</h3>
    <p class="result-text">Результати можуть мати побічні ефекти:</p>
    <ul class="list warning-list">
      <li class="warning-item">
        <svg class="warning-icon" width="20" height="20">
          <use href="./images/icons.svg#icon-star"></use>
        </svg>
        Яскраві оргазми
      </li>
      <li class="warning-item">
        <svg class="warning-icon" width="20" height="20">
          <use href="./images/icons.svg#icon-star"></use>
        </svg>
        Частіше залипання на власне відображення в дзеркалі (в одязі та без)
      </li>
    </ul>
  </div>
</section>
<section class="container follow">
  <div>
    <h3 class="title title--small title--center">Приєднуйтесь та отримайте</h3>
    <ul class="list accent-list descr-accent-list-tablet">
      <li class="accent-item">
        <svg class="accent-icon" width="12" height="12">
          <use href="./images/icons.svg#icon-cd"></use>
        </svg>
        3 тренування щотижня тривалістю 30-35 хвилин
      </li>
      <li class="accent-item">
        <svg class="accent-icon" width="12" height="12">
          <use href="./images/icons.svg#icon-cd"></use>
        </svg>
        3 комплекси вправ щотижня на гнучкість, розслаблення, баланс та інші
        аспекти (кожен комплекс тривалістю 10-15 хвилин)
      </li>
      <li class="accent-item">
        <svg class="accent-icon" width="12" height="12">
          <use href="./images/icons.svg#icon-cd"></use></svg
        >Рекомендації щодо зменшення проявів целюліту
      </li>
      <li class="accent-item">
        <svg class="accent-icon" width="12" height="12">
          <use href="./images/icons.svg#icon-cd"></use></svg
        >Рекомендації щодо харчування від нашого нутриціолога
      </li>
      <li class="accent-item">
        <svg class="accent-icon" width="12" height="12">
          <use href="./images/icons.svg#icon-cd"></use></svg
        >Конструктор збалансованих тарілок
      </li>
    </ul>
  </div>
  <a class="button button-transparent-bg hidden-button" href="#package"
    >купити</a
  >
</section>
