<section id="description" class="container description">
  <div class="description-box">
    <h2 class="title descr-title">Цей інтенсив для вас, якщо ви...</h2>
    <ul class="descr-list">
      <li class="descr-item">
        <svg class="descr-icon" width="24" height="24">
          <use href="./images/icons.svg#icon-chevrons-right"></use></svg
        >Ваші сідниці не мають бажаного вигляду, щоб ви не робили
      </li>
      <li class="descr-item">
        <svg class="descr-icon" width="24" height="24">
          <use href="./images/icons.svg#icon-chevrons-right"></use></svg
        >У вправах, спрямованих на сідничні м'язи, ви не відчуваєте їх роботу
      </li>
      <li class="descr-item">
        <svg class="descr-icon" width="24" height="24">
          <use href="./images/icons.svg#icon-chevrons-right"></use>
        </svg>
        У вас є прояви целюліту, і ви не можете його позбавитися
      </li>
      <li class="descr-item">
        <svg class="descr-icon" width="24" height="24">
          <use href="./images/icons.svg#icon-chevrons-right"></use>
        </svg>
        Ви боїтесь займатись по готовим відео через потенційну травму суглобів
      </li>
      <li class="descr-item">
        <svg class="descr-icon" width="24" height="24">
          <use href="./images/icons.svg#icon-chevrons-right"></use></svg
        >Ви пробували різні марафони схуднення і розчаровані результатами, бо
        отримали тільки біль у мʼязах, а сідниці не набувають об'єму
      </li>
    </ul>
  </div>
</section>
<section id="trainer" class="trainer trainer-0 container">
  <h2 class="title trainer-title">
    Тренер <br />
    Анна Горпинчук
  </h2>
  <h3 class="trainer-subtitle">
    фітнес тренер зі стажем <br />
    більше 7 років
  </h3>
  <div class="trainer--small">
    <picture>
      <source
        srcset="
          ./images/trainer-mobile.webp    1x,
          ./images/trainer-mobile@2x.webp 2x
        "
        media="(max-width: 999px)"
        type="image/webp"
      />
      <source
        srcset="
          ./images/trainer-mobile.jpg    1x,
          ./images/trainer-mobile@2x.jpg 2x
        "
        media="(max-width: 999px)"
        type="image/jpg"
      />
      <img
        src="./images/trainer-mobile.jpg"
        alt="Тренер"
        class="trainer-foto"
        width="334"
        height="433"
      />
    </picture>
    <picture>
      <source
        srcset="
          ./images/trainer-desktop.webp    1x,
          ./images/trainer-desktop@2x.webp 2x
        "
        media="(min-width: 1200px)"
        type="image/webp"
      />
      <source
        srcset="
          ./images/trainer-desktop.jpg    1x,
          ./images/trainer-desktop@2x.jpg 2x
        "
        media="(min-width: 1200px)"
      />

      <img
        src="./images/trainer-desktop.jpg"
        alt="Тренер"
        class="trainer-foto--desktop"
        width="756"
        height="594"
      />
    </picture>
    <ul class="list accent-list accent-list--transparent">
      <li class="accent-item accent-item--trainer">
        <svg class="arg-icon" width="20" height="20">
          <use href="./images/icons.svg#icon-check_orange"></use>
        </svg>
        Основа її підходу - любов і піклування до тіла і клієнтів
      </li>
      <li class="accent-item accent-item--trainer">
        <svg class="arg-icon" width="20" height="20">
          <use href="./images/icons.svg#icon-check_orange"></use>
        </svg>
        Вона проти виснажливих дієт та жорстких вправ
      </li>
      <li class="accent-item accent-item--trainer">
        <svg class="arg-icon" width="20" height="20">
          <use href="./images/icons.svg#icon-check_orange"></use>
        </svg>
        Вважає, що будь-хто може виглядати круто і мати здорове тіло, якщо
        правильно підібрати програму
      </li>
      <li class="accent-item accent-item--trainer">
        <svg class="arg-icon" width="20" height="20">
          <use href="./images/icons.svg#icon-check_orange"></use>
        </svg>
        На власному досвіді показує, що навіть маючи 3 дітей, можна почувати
        себе легко, здорово і кайфувати від свого тіла
      </li>
    </ul>
  </div>
  <!-- </div> -->
</section>
<section id="description" class="container description">
  <div class="description-box">
    <h3 class="title descr-title">Приєднуйтесь та отримайте</h3>
    <div>
      <ul class="list accent-list">
        <li class="accent-item">
          <svg class="accent-icon" width="12" height="12">
            <use href="./images/icons.svg#icon-cd"></use>
          </svg>
          3 тренування щотижня тривалістю 30-35 хвилин
        </li>
        <li class="accent-item">
          <svg class="accent-icon" width="12" height="12">
            <use href="./images/icons.svg#icon-cd"></use>
          </svg>
          3 комплекси вправ щотижня на гнучкість, розслаблення, баланс та інші
          аспекти (кожен комплекс тривалістю 10-15 хвилин)
        </li>
        <li class="accent-item">
          <svg class="accent-icon" width="12" height="12">
            <use href="./images/icons.svg#icon-cd"></use></svg
          >Рекомендації щодо зменшення проявів целюліту
        </li>
        <li class="accent-item">
          <svg class="accent-icon" width="12" height="12">
            <use href="./images/icons.svg#icon-cd"></use></svg
          >Рекомендації щодо харчування від нашого нутриціолога
        </li>
        <li class="accent-item">
          <svg class="accent-icon" width="12" height="12">
            <use href="./images/icons.svg#icon-cd"></use></svg
          >Конструктор збалансованих тарілок
        </li>
        <li class="accent-item">
          <svg class="accent-icon" width="12" height="12">
            <use href="./images/icons.svg#icon-cd"></use></svg
          >Чат підтримки
        </li>
        <li class="accent-item">
          <svg class="accent-icon" width="12" height="12">
            <use href="./images/icons.svg#icon-cd"></use></svg
          >Прямі ефіри з можливістю отримати відповіді на свої питання
        </li>
      </ul>
      <a class="button button--accent" href="#package">купити</a>
    </div>
  </div>
</section>
<section class="container result">
  <h2 class="title title--small">
    Вже за 21 день ви отримаєте перші помітні результати не лише вам, а і вашому
    оточенню!
  </h2>
  <!-- <div class="warning--desktop">
    <div class="warning--desktop-container">
      <h3 class="warning-desktop-title-orange">Увага!</h3>
      <p class="warning--desktop-text">
        Результати можуть мати побічні ефекти:
      </p>
    </div>

    <ul class="list warning-list">
      <li class="warning-item">
        <svg class="warning-icon" width="20" height="20">
          <use href="./images/icons.svg#icon-star"></use>
        </svg>
        Яскраві оргазми
      </li>
      <li class="warning-item">
        <svg class="warning-icon" width="20" height="20">
          <use href="./images/icons.svg#icon-star"></use>
        </svg>
        Частіше залипання на власне відображення в дзеркалі (в одязі та без)
      </li>
    </ul>
  </div> -->
  <div class="result-descr-box">
    <div class="result-descr">
      <!-- <h3 class="result-descr-title">Помітні для оточення</h3> -->
      <ul class="list result-list">
        <li class="result-item">
          <svg class="arg-icon" width="20" height="20">
            <use href="./images/icons.svg#icon-check_orange"></use>
          </svg>
          Підтягнуті та пружні сідниці
        </li>
        <li class="result-item">
          <svg class="arg-icon" width="20" height="20">
            <use href="./images/icons.svg#icon-check_orange"></use>
          </svg>
          Зменшення проявів целюліту - не страшно надягати купальник :)
        </li>
        <li class="result-item">
          <svg class="arg-icon" width="20" height="20">
            <use href="./images/icons.svg#icon-check_orange"></use>
          </svg>
          Корекція постави - вам захочеться тримати спину рівно
        </li>
        <li class="result-item">
          <svg class="arg-icon" width="20" height="20">
            <use href="./images/icons.svg#icon-check_orange"></use>
          </svg>
          Зміцнення мʼязів кору
        </li>
        <li class="result-item">
          <svg class="arg-icon" width="20" height="20">
            <use href="./images/icons.svg#icon-check_orange"></use>
          </svg>
          Укріплення мʼязів тазового дна
        </li>
        <li class="result-item">
          <svg class="arg-icon" width="20" height="20">
            <use href="./images/icons.svg#icon-check_orange"></use>
          </svg>
          Підсилене відчуття оргазмів
        </li>
      </ul>
    </div>
    <!-- <div class="result-descr">
      <h3 class="result-descr-title">Помітні лише для вас</h3>
      <ul class="list result-list result-list-padding">
        <li class="result-item">
          <svg class="arg-icon" width="20" height="20">
            <use href="./images/icons.svg#icon-check_orange"></use>
          </svg>
          Зміцнення мʼязів кору
        </li>
        <li class="result-item">
          <svg class="arg-icon" width="20" height="20">
            <use href="./images/icons.svg#icon-check_orange"></use>
          </svg>
          Укріплення мʼязів тазового дна
        </li>
        <li class="result-item">
          <svg class="arg-icon" width="20" height="20">
            <use href="./images/icons.svg#icon-check_orange"></use>
          </svg>
          Підсилене відчуття оргазмів
        </li>
      </ul>
    </div> -->
  </div>
  <!-- <div class="warning">
    <h3 class="result-descr-title warning-title-orange">Увага!</h3>
    <p class="result-text">Результати можуть мати побічні ефекти:</p>
    <ul class="list warning-list">
      <li class="warning-item">
        <svg class="warning-icon" width="20" height="20">
          <use href="./images/icons.svg#icon-star"></use>
        </svg>
        Яскраві оргазми
      </li>
      <li class="warning-item">
        <svg class="warning-icon" width="20" height="20">
          <use href="./images/icons.svg#icon-star"></use>
        </svg>
        Частіше залипання на власне відображення в дзеркалі (в одязі та без)
      </li>
    </ul>
  </div> -->
</section>
