<section id="description" class="container description">
  <div class="description-box description-box--bottom">
    <h2 class="title descr-title">Цей інтенсив для вас, якщо ви...</h2>
    <ul class="descr-list">
      <li class="descr-item">
        <svg class="descr-icon" width="24" height="24">
          <use href="./images/icons.svg#icon-chevrons-right"></use></svg
        >Ваші сідниці не мають бажаного вигляду, щоб ви не робили
      </li>
      <li class="descr-item">
        <svg class="descr-icon" width="24" height="24">
          <use href="./images/icons.svg#icon-chevrons-right"></use></svg
        >У вправах, спрямованих на сідничні м'язи, ви не відчуваєте їх роботу
      </li>
      <li class="descr-item">
        <svg class="descr-icon" width="24" height="24">
          <use href="./images/icons.svg#icon-chevrons-right"></use>
        </svg>
        У вас є прояви целюліту, і ви не можете його позбавитися
      </li>
      <li class="descr-item">
        <svg class="descr-icon" width="24" height="24">
          <use href="./images/icons.svg#icon-chevrons-right"></use>
        </svg>
        Ви боїтесь займатись по готовим відео через потенційну травму суглобів
      </li>
      <li class="descr-item">
        <svg class="descr-icon" width="24" height="24">
          <use href="./images/icons.svg#icon-chevrons-right"></use></svg
        >Ви пробували різні марафони схуднення і розчаровані результатами, бо
        отримали тільки біль у мʼязах, а сідниці не набувають об'єму
      </li>
    </ul>
  </div>
  <div class="description-box">
    <h3 class="title descr-title">Приєднуйтесь та отримайте</h3>
    <div>
      <ul class="list accent-list">
        <li class="accent-item">
          <svg class="accent-icon" width="12" height="12">
            <use href="./images/icons.svg#icon-cd"></use>
          </svg>
          3 тренування щотижня тривалістю 30-35 хвилин
        </li>
        <li class="accent-item">
          <svg class="accent-icon" width="12" height="12">
            <use href="./images/icons.svg#icon-cd"></use>
          </svg>
          3 комплекси вправ щотижня на гнучкість, розслаблення, баланс та інші
          аспекти (кожен комплекс тривалістю 10-15 хвилин)
        </li>
        <li class="accent-item">
          <svg class="accent-icon" width="12" height="12">
            <use href="./images/icons.svg#icon-cd"></use></svg
          >Рекомендації щодо зменшення проявів целюліту
        </li>
        <li class="accent-item">
          <svg class="accent-icon" width="12" height="12">
            <use href="./images/icons.svg#icon-cd"></use></svg
          >Рекомендації щодо харчування від нашого нутриціолога
        </li>
        <li class="accent-item">
          <svg class="accent-icon" width="12" height="12">
            <use href="./images/icons.svg#icon-cd"></use></svg
          >Конструктор збалансованих тарілок
        </li>
      </ul>
      <a class="button button--accent" href="#package">купити</a>
    </div>
  </div>
</section>
<!-- <section class="container follow-container"> -->

<!-- </section> -->
<section class="container result">
  <h2 class="title">Результати за 21 день</h2>
  <div class="warning--desktop">
    <div class="warning--desktop-container">
      <h3 class="warning-desktop-title-orange">Увага!</h3>
      <p class="warning--desktop-text">
        Результати можуть мати побічні ефекти:
      </p>
    </div>

    <ul class="list warning-list">
      <li class="warning-item">
        <svg class="warning-icon" width="20" height="20">
          <use href="./images/icons.svg#icon-star"></use>
        </svg>
        Яскраві оргазми
      </li>
      <li class="warning-item">
        <svg class="warning-icon" width="20" height="20">
          <use href="./images/icons.svg#icon-star"></use>
        </svg>
        Частіше залипання на власне відображення в дзеркалі (в одязі та без)
      </li>
    </ul>
  </div>
  <div class="result-descr-box">
    <div class="result-descr">
      <h3 class="result-descr-title">Помітні для оточення</h3>
      <ul class="list result-list">
        <li class="result-item">
          <svg class="arg-icon" width="20" height="20">
            <use href="./images/icons.svg#icon-check_orange"></use>
          </svg>
          Підтягнуті та пружні сідниці
        </li>
        <li class="result-item">
          <svg class="arg-icon" width="20" height="20">
            <use href="./images/icons.svg#icon-check_orange"></use>
          </svg>
          Зменшення проявів целюліту
        </li>
        <li class="result-item">
          <svg class="arg-icon" width="20" height="20">
            <use href="./images/icons.svg#icon-check_orange"></use>
          </svg>
          Корекція постави
        </li>
      </ul>
    </div>
    <div class="result-descr">
      <h3 class="result-descr-title">Помітні лише для вас</h3>
      <ul class="list result-list result-list-padding">
        <li class="result-item">
          <svg class="arg-icon" width="20" height="20">
            <use href="./images/icons.svg#icon-check_orange"></use>
          </svg>
          Зміцнення мʼязів кору
        </li>
        <li class="result-item">
          <svg class="arg-icon" width="20" height="20">
            <use href="./images/icons.svg#icon-check_orange"></use>
          </svg>
          Укріплення мʼязів тазового дна
        </li>
        <li class="result-item">
          <svg class="arg-icon" width="20" height="20">
            <use href="./images/icons.svg#icon-check_orange"></use>
          </svg>
          Підсилене відчуття оргазмів
        </li>
      </ul>
    </div>
  </div>
  <div class="warning">
    <h3 class="result-descr-title warning-title-orange">Увага!</h3>
    <p class="result-text">Результати можуть мати побічні ефекти:</p>
    <ul class="list warning-list">
      <li class="warning-item">
        <svg class="warning-icon" width="20" height="20">
          <use href="./images/icons.svg#icon-star"></use>
        </svg>
        Яскраві оргазми
      </li>
      <li class="warning-item">
        <svg class="warning-icon" width="20" height="20">
          <use href="./images/icons.svg#icon-star"></use>
        </svg>
        Частіше залипання на власне відображення в дзеркалі (в одязі та без)
      </li>
    </ul>
  </div>
</section>
