<section id="contact" class="container contact">
  <h2 class="title">Контакти</h2>
  <p class="contact-info">
    Якщо у вас залишились ще питання, не соромтесь задати їх нам ;) Зробити це
    можна за вказаними нижче контактами.
  </p>
  <ul class="list contact-list">
    <li class="contact-item">
      <a
        href="mailto:fizkyltinfo@gmail.com"
        lang="en"
        class="link contact-link"
      >
        <svg width="24" height="24">
          <use href="./images/icons.svg#icon-envelope"></use>
        </svg>
        fizkyltinfo@gmail.com
      </a>
    </li>
    <li class="contact-item">
      <a href="tel:+380990369382" class="link contact-link">
        <svg width="24" height="24">
          <use href="./images/icons.svg#icon-phone"></use>
        </svg>
        +38 099 03 69 382</a
      >
    </li>
    <li>
      <a
        href="https://www.instagram.com/fizkylt.body/"
        target="_blank"
        rel="noopener"
        class="link contact-link"
      >
        <svg width="24" height="24">
          <use href="./images/icons.svg#icon-instagram"></use>
        </svg>
        @fizkylt.body</a
      >
    </li>
  </ul>
  <h3 class="form-title">Форма зворотнього звʼязку</h3>
  <form class="form form-contact" name="contact-form" autocomplete="on">
    <label class="form-label" for="name">Ім'я</label>
    <div class="form-field">
      <input
        type="text"
        id="name"
        class="form-input"
        placeholder="Введіть своє імʼя"
        required
      />
    </div>
    <label class="form-label" for="phone">Телефон</label>
    <div class="form-field">
      <input
        required
        minlength="13"
        maxlength="13"
        type="tel"
        id="phone"
        class="form-input"
        placeholder="Вкажіть свій номер телефону"
      />
    </div>
    <label class="form-label" for="mail">Пошта</label>
    <div class="form-field">
      <input
        type="email"
        id="mail"
        class="form-input"
        placeholder="Введіть свою електронну пошту"
        required
      />
    </div>
    <label class="form-label" for="coment">Ваше повідомлення</label>
    <textarea
      name="message"
      id="coment"
      placeholder="Напишіть ваше повідомлення"
      class="form-message"
    ></textarea>
    <div class="checkbox checkbox-field">
      <input
        class="checkbox-input"
        type="checkbox"
        name="checkbox-consent"
        required
      />
      <label class="checkbox-label"
        >Я погоджуюся з умовами <b>Політики конфіденційності</b> та надаю згоду
        на обробку своїх персональних даних.</label
      >
    </div>
    <button type="submit" class="button program-button__transp button_submit">
      Надіслати
    </button>
  </form>
</section>
