<section id="contact" class="container contact">
  <div class="contact-box">
    <h2 class="title title--white">Контакти</h2>
    <p class="contact-info">
      Якщо у вас залишились ще питання, не соромтесь задати їх нам ;) Зробити це
      можна за вказаними нижче контактами.
    </p>
    <ul class="list contact-list">
      <li class="contact-item">
        <a
          href="mailto:fizkyltinfo@gmail.com"
          lang="en"
          class="link contact-link"
        >
          <svg width="24" height="24">
            <use href="./images/icons.svg#icon-envelope"></use>
          </svg>
          fizkyltinfo@gmail.com
        </a>
      </li>
      <li class="contact-item">
        <a href="tel:+380990369382" class="link contact-link">
          <svg width="24" height="24">
            <use href="./images/icons.svg#icon-phone"></use>
          </svg>
          +38 099 03 69 382</a
        >
      </li>
      <li>
        <a
          href="https://www.instagram.com/f.i.z.k.y.l.t/"
          target="_blank"
          rel="noopener"
          class="link contact-link"
        >
          <svg width="24" height="24">
            <use href="./images/icons.svg#icon-instagram"></use>
          </svg>
          @f.i.z.k.y.l.t
        </a>
      </li>
    </ul>
  </div>
</section>
