<section class="contraindication container">
  <h2>Протипоказання до курсу</h2>
  <div>
    <!-- <img src="" alt=""> -->
    <p><strong>Вагітність</strong>будь-якого триместру</p>
  </div>
  <div>
    <!-- <img src="" alt=""> -->
    <p>
      <strong>Післяпологовий</strong>період. Мінімально має пройти 6 тижнів.
    </p>
  </div>
  <div>
    <!-- <img src="" alt=""> -->
    <p><strong>Діастаз</strong>більше 5 см.</p>
  </div>
  <div>
    <!-- <img src="" alt=""> -->
    <p><strong>Реабілітація</strong>після операцій. Потрібен дозвіл лікаря.</p>
  </div>
  <div>
    <!-- <img src="" alt=""> -->
    <p>
      <strong>Травми</strong>Не знаєте чи можете тренуватись? - Напишіть тренеру
      Анні, вона підкаже.
    </p>
  </div>
</section>
