<section class="contraindication container section">
  <h2>Протипоказання до курсу</h2>
  <div>
    <img
      srcset="./images/vahitnist.jpg"
      src="./images/vahitnist.jpg"
      alt="Процес розробки мобільних додатків"
      width="240"
      height="300"
    />
    <p><strong>Вагітність</strong>будь-якого триместру</p>
  </div>
  <div>
    <img
      srcset="./images/woman.jpg"
      src="./images/woman.jpg"
      alt="Процес розробки мобільних додатків"
      width="240"
      height="186"
    />
    <p>
      <strong>Післяпологовий</strong>період. Мінімально має пройти 6 тижнів.
    </p>
  </div>
  <div>
    <img
      srcset="./images/diastaz.jpg"
      src="./images/diastaz.jpg"
      alt="Процес розробки мобільних додатків"
      width="240"
      height="300"
    />
    <p><strong>Діастаз</strong>більше 5 см.</p>
  </div>
  <div>
    <img
      srcset="./images/reabilitation.jpg"
      src="./images/reabilitation.jpg"
      alt="Процес розробки мобільних додатків"
      width="375"
      height="300"
    />
    <p><strong>Реабілітація</strong>після операцій. Потрібен дозвіл лікаря.</p>
  </div>
  <div>
    <img
      srcset="./images/travma.jpg"
      src="./images/travma.jpg"
      alt="Процес розробки мобільних додатків"
      width="240"
      height="300"
    />
    <p>
      <strong>Травми</strong>Не знаєте чи можете тренуватись? - Напишіть тренеру
      Анні, вона підкаже.
    </p>
  </div>
</section>
