<section id="contraindication" class="container contraindication">
  <h2 class="title title--white">Протипоказання</h2>
  <ul class="list contraindication-list">
    <li class="contraindication-item">
      <svg class="contraindication-foto" width="48" height="48">
        <use href="./images/icons-1.svg#icon-user1"></use>
      </svg>
      <h3 class="contraindication-subtitle">Вагітність</h3>
      <p class="contraindication-descr">Будь-якого триместру</p>
    </li>
    <li class="contraindication-item">
      <svg class="contraindication-foto" width="48" height="48">
        <use href="./images/icons-1.svg#icon-user"></use>
      </svg>
      <h3 class="contraindication-subtitle">Післяпологовий період</h3>
      <p class="contraindication-descr">Має пройти мінімум 6 тижнів</p>
    </li>
    <li class="contraindication-item">
      <svg class="contraindication-foto" width="48" height="48">
        <use href="./images/icons-1.svg#icon-user3"></use>
      </svg>
      <h3 class="contraindication-subtitle">Діастаз</h3>
      <p class="contraindication-descr">Діагностований діастаз більше 5 см</p>
    </li>
    <li class="contraindication-item">
      <svg class="contraindication-foto" width="48" height="48">
        <use href="./images/icons-1.svg#icon-lift"></use>
      </svg>
      <h3 class="contraindication-subtitle">Реабілітація після операцій</h3>
      <p class="contraindication-descr">Потрібен дозвіл лікаря</p>
    </li>
    <li class="contraindication-item">
      <svg class="contraindication-foto" width="48" height="48">
        <use href="./images/icons-1.svg#icon-unicycle"></use>
      </svg>
      <h3 class="contraindication-subtitle">Травми</h3>
      <p class="contraindication-descr">
        Не знаєте чи можете тренуватись? Напишіть тренеру Анні, вона підкаже
      </p>
    </li>
    <li class="contraindication-item">
      <svg class="contraindication-foto" width="48" height="48">
        <use href="./images/icons-1.svg#icon-chat"></use>
      </svg>
      <h3 class="contraindication-subtitle">Інші медичні протипоказання</h3>
      <p class="contraindication-descr">
        Вкажіть, якщо маєте інші захворювання чи протипоказання
      </p>
    </li>
  </ul>
</section>
<section class="container line"></section>
