<section id="description" class="description container">
  <h2 class="descr-features">
    Цей курс для вас, <br />
    якщо ви...
  </h2>
  <ul class="descr-list list">
    <li class="descr-item">
      <svg class="descr-icon" width="24" height="24">
        <use href="./images/icons.svg#icon-chevrons-right"></use>
      </svg>
      Боїтесь виконувати вправи з youtube, щоб не нашкодити собі
    </li>
    <li class="descr-item">
      <svg class="descr-icon" width="24" height="24">
        <use href="./images/icons.svg#icon-chevrons-right"></use></svg
      >Не маєте енергії
    </li>
    <li class="descr-item">
      <svg class="descr-icon" width="24" height="24">
        <use href="./images/icons.svg#icon-chevrons-right"></use></svg
      >Чочете відновитися після пологів
    </li>
    <li class="descr-item">
      <svg class="descr-icon" width="24" height="24">
        <use href="./images/icons.svg#icon-chevrons-right"></use>
      </svg>
      Маєте проблеми з поставою, відчуваєте біль в шиї та спині
    </li>
    <li class="descr-item">
      <svg class="descr-icon" width="24" height="24">
        <use href="./images/icons.svg#icon-chevrons-right"></use>
      </svg>
      Не бачите результату від виснажливих тренувань в залі
    </li>
    <li class="descr-item">
      <svg class="descr-icon" width="24" height="24">
        <use href="./images/icons.svg#icon-chevrons-right"></use></svg
      >Розчаровані фітнес марафонами
    </li>
    <li class="descr-item">
      <svg class="descr-icon" width="24" height="24">
        <use href="./images/icons.svg#icon-chevrons-right"></use></svg
      >Бажаєте підтягнути тіло
    </li>
    <li class="descr-item">
      <svg class="descr-icon" width="24" height="24">
        <use href="./images/icons.svg#icon-chevrons-right"></use></svg
      >Є бажання тренуватися, але мало вільного часу
    </li>
    <li class="descr-item">
      <svg class="descr-icon" width="24" height="24">
        <use href="./images/icons.svg#icon-chevrons-right"></use>
      </svg>
      Хочете займатися регулярно, проте бракує мотивації та підтримки
    </li>
  </ul>
  <h3 class="join-title">Приєднуйтесь та отримайте</h3>
  <ul class="list join-list">
    <li class="join-item">
      <svg class="join-icon" width="12" height="12">
        <use href="./images/icons.svg#icon-cd"></use>
      </svg>
      20 унікальних тренувань з детальним поясненням техніки виконання кожної
      вправи
    </li>
    <li class="join-item">
      <svg class="join-icon" width="12" height="12">
        <use href="./images/icons.svg#icon-cd"></use>
      </svg>
      Чіткий план тренувань, що дозволить відчувати своє тіло та виконувати
      вправи правильно без болю та травм.
    </li>
    <li class="join-item">
      <svg class="join-icon" width="12" height="12">
        <use href="./images/icons.svg#icon-cd"></use></svg
      >Тренуйтесь онлайн в зручний для вас час.
    </li>
  </ul>
  <button class="button descr-button" type="submit">Обрати пакет</button>
</section>
