<section id="description" class="container description">
  <div class="description-box">
    <h2 class="title descr-title">
      Цей курс для вас, <br />
      якщо ви
    </h2>
    <div>
      <ul class="list descr-list description-list--block">
        <li class="descr-item">
          <svg class="descr-icon" width="24" height="24">
            <use href="./images/icons.svg#icon-chevrons-right"></use></svg
          >Бажаєте підтягнути тіло
        </li>
        <li class="descr-item">
          <svg class="descr-icon" width="24" height="24">
            <use href="./images/icons.svg#icon-chevrons-right"></use></svg
          >Xочете відновитися після пологів
        </li>
        <li class="descr-item">
          <svg class="descr-icon" width="24" height="24">
            <use href="./images/icons.svg#icon-chevrons-right"></use>
          </svg>
          Маєте проблеми з поставою, відчуваєте біль в шиї та спині
        </li>
        <li class="descr-item">
          <svg class="descr-icon" width="24" height="24">
            <use href="./images/icons.svg#icon-chevrons-right"></use></svg
          >Є бажання тренуватися, але мало вільного часу
        </li>
        <li class="descr-item">
          <svg class="descr-icon" width="24" height="24">
            <use href="./images/icons.svg#icon-chevrons-right"></use>
          </svg>
          Хочете займатися регулярно, проте бракує мотивації та підтримки
        </li>
        <li class="descr-item">
          <svg class="descr-icon" width="24" height="24">
            <use href="./images/icons.svg#icon-chevrons-right"></use></svg
          >Розчаровані фітнес марафонами
        </li>
        <li class="descr-item">
          <svg class="descr-icon" width="24" height="24">
            <use href="./images/icons.svg#icon-chevrons-right"></use>
          </svg>
          Не бачите результату від виснажливих тренувань в залі
        </li>
        <li class="descr-item">
          <svg class="descr-icon" width="24" height="24">
            <use href="./images/icons.svg#icon-chevrons-right"></use>
          </svg>
          Боїтесь виконувати вправи з youtube, щоб не нашкодити собі
        </li>
        <li class="descr-item">
          <svg class="descr-icon" width="24" height="24">
            <use href="./images/icons.svg#icon-chevrons-right"></use></svg
          >Не маєте енергії
        </li>
      </ul>
      <div class="follow">
        <h3 class="accent-title title--small title--center">
          Приєднуйтесь та отримайте
        </h3>
        <ul class="list accent-list descr-accent-list-tablet">
          <li class="accent-item">
            <svg class="accent-icon" width="12" height="12">
              <use href="./images/icons.svg#icon-cd"></use>
            </svg>
            20 унікальних тренувань з детальним поясненням техніки виконання
            кожної вправи
          </li>
          <li class="accent-item">
            <svg class="accent-icon" width="12" height="12">
              <use href="./images/icons.svg#icon-cd"></use>
            </svg>
            Чіткий план тренувань, що дозволить відчувати своє тіло та
            виконувати вправи правильно без болю та травм.
          </li>
          <li class="accent-item">
            <svg class="accent-icon" width="12" height="12">
              <use href="./images/icons.svg#icon-cd"></use></svg
            >Тренуйтесь онлайн в зручний для вас час.
          </li>
        </ul>
        <a class="button button-transparent-bg" href="#package">Обрати пакет</a>
      </div>
    </div>
  </div>
</section>
<!-- <section class="container follow">
  <div class="description-box1">
    <div></div>
    <div>
      <h3 class="accent-title title--small title--center">
        Приєднуйтесь та отримайте
      </h3>
      <ul class="list accent-list descr-accent-list-tablet">
        <li class="accent-item">
          <svg class="accent-icon" width="12" height="12">
            <use href="./images/icons.svg#icon-cd"></use>
          </svg>
          20 унікальних тренувань з детальним поясненням техніки виконання
          кожної вправи
        </li>
        <li class="accent-item">
          <svg class="accent-icon" width="12" height="12">
            <use href="./images/icons.svg#icon-cd"></use>
          </svg>
          Чіткий план тренувань, що дозволить відчувати своє тіло та виконувати
          вправи правильно без болю та травм.
        </li>
        <li class="accent-item">
          <svg class="accent-icon" width="12" height="12">
            <use href="./images/icons.svg#icon-cd"></use></svg
          >Тренуйтесь онлайн в зручний для вас час.
        </li>
      </ul>
      <a class="button button-transparent-bg" href="#package">Обрати пакет</a>
    </div>
  </div>
</section> -->
