<section class="description container">
  <h3 class="description-title">20 тренувань</h3>
  <p class="description-main-text">
    <strong>Отримайте 20 унікальних тренувань</strong> з детальним поясненням
    техніки виконання кожної вправи. Тренуйтеся щодня, крім вихідних, протягом
    чотирьох тижнів.
  </p>
  <div class="description-program">
    <a href="#" class="link">Переглянути програму</a>
  </div>

  <h2 class="descr-features">Цей курс для вас, якщо ви:</h2>
  <ul class="descr-list list">
    <li class="descr-item">
      боїтесь виконувати вправи самостійно, щоб не нашкодити
    </li>
    <li class="descr-item">не маєте енергії</li>
    <li class="descr-item">хочете відновитися після пологів</li>
    <li class="descr-item">
      ⛑ маєте проблеми з поставою, відчуваєте біль в шиї та спині
    </li>
    <li class="descr-item">
      ⏰ не бачите результату від виснажливих тренувань в залі
    </li>
    <li class="descr-item">⛔️розчаровані фітнес марафонами</li>
    <li class="descr-item">✊бажаєте підтягнути тіло</li>
  </ul>
  <p class="descr-text-1">
    Є бажання тренуватися, але мало вільного часу?<br />
    Хочете займатися регулярно, проте бракує мотивації та підтримки?<br />
    Боїтесь виконувати вправи з youtube, щоб не нашкодити собі?<br /><br />Приєднуйтесь
    та – отримаєте чіткий план тренувань на місяць, що дозволить відчувати своє
    тіло і виконувати вправи правильно без болю та травм.
  </p>
  <p class="descr-text-2">Тренуйтесь онлайн в зручний для вас час.</p>
  <button class="hero-button" type="submit">Купити</button>
</section>
