<!-- <section class="feedback">
  <div class="wrapper"></div>
  <h2 class="title">Відгуки</h2>
  <ul class="js-feedback list feedback-list"></ul>
  <div id="pagination" class="tui-pagination"></div>
</section> -->
<!-- <section class="feedback">
<div class="wrapper">

  <h2 class="title">Відгуки</h2>
  <div class="block">
    <div class="block_body">
      <div class="swiper support-container">
        <div class="swiper-wrapper js-feedback list feedback-list"></в>
        <!-- <div class="swiper-wrapper support-wrapper"></div> -->
<!-- </div>
    </div>
  </div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
  <svg class="swiper_icon-next" width="32" height="32">
    <use href="./images/icons.svg#icon-slider-min-down"></use>
  </svg>
  <svg class="swiper_icon-prev" width="32" height="32">
    <use href="./images/icons.svg#icon-slider-min-up"></use>
  </svg>
</div>
</section>  -->
<section class="feedback">
  <div class="container">
    <div class="wrapper">
      <h2 class="title">Відгуки</h2>
      <div class="swiper-container feed-cont">
        <div class="swiper-wrapper js-feedback feedback-list">
          <!-- <div class="swiper-slide">
       
      </div> -->
        </div>
      </div>
    </div>
    <div class="swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper js-feedback">
        <!-- <div class="js-feedback feedback-list"></div> -->
        <!-- Slides -->
        <!-- <div class="swiper-slide"></div>
    <div class="swiper-slide">Slide 2</div>
    <div class="swiper-slide">Slide 3</div> -->
        ...
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>

      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>

      <!-- If we need scrollbar -->
      <div class="swiper-scrollbar"></div>
    </div>
  </div>
</section>
