<!-- <div id="feedback" class="container feedback">
  <h2 class="title">Відгуки з попереднього курсу</h2>
  <div class="swiper wrapper swiper-container">
    <div class="feedback-slider swiper-wrapper js-feedback"></div>
  </div> -->

<!-- Кнопки навігації -->
<!-- <div id="swiper-button-next" class="swiper-button-next"></div>
  <div id="swiper-button-prev" class="swiper-button-prev"></div>

  <div class="swiper-pagination"></div>
  <div class="swiper-scrollbar"></div>
</div> -->

<!-- <div class="container"> -->
<div class="wrapper container feedback">
  <h2 class="title">Відгуки з попереднього курсу</h2>
  <div class="carousel js-feedback"></div>
</div>
<!-- </div> -->
