<section id="description" class="container description">
  <div class="description-box">
    <h2 class="title descr-title">Ця програма для вас, якщо</h2>
    <ul class="descr-list description-list--block">
      <li class="descr-item">
        <svg class="descr-icon" width="24" height="24">
          <use href="./images/icons.svg#icon-chevrons-right"></use></svg
        >Ви переїхали в інше місто чи країну і не маєте можливості йти в
        місцевий спортклуб
      </li>
      <li class="descr-item">
        <svg class="descr-icon" width="24" height="24">
          <use href="./images/icons.svg#icon-chevrons-right"></use></svg
        >Ви хочете впровадити спорт в ваше життя, але немає часу на зал
      </li>
      <li class="descr-item">
        <svg class="descr-icon" width="24" height="24">
          <use href="./images/icons.svg#icon-chevrons-right"></use>
        </svg>
        Ви хочете комплексний підхід, але не знаєте, як правильно вибудувати
        програму
      </li>
      <li class="descr-item">
        <svg class="descr-icon" width="24" height="24">
          <use href="./images/icons.svg#icon-chevrons-right"></use>
        </svg>
        Ви раніше мали швидкі результати, які швидко втрачались
      </li>
      <li class="descr-item">
        <svg class="descr-icon" width="24" height="24">
          <use href="./images/icons.svg#icon-chevrons-right"></use></svg
        >Ви боїтесь виснажливих інтенсивних тренувань
      </li>
      <li class="descr-item">
        <svg class="descr-icon" width="24" height="24">
          <use href="./images/icons.svg#icon-chevrons-right"></use></svg
        >Ваші спроби схуднути та підтягнути тіло були безуспішними
      </li>
      <li class="descr-item">
        <svg class="descr-icon" width="24" height="24">
          <use href="./images/icons.svg#icon-chevrons-right"></use></svg
        >У вас є абонемент у спортзал, але не маєте часу на регулярні візити
      </li>
    </ul>
  </div>
</section>
<section class="container description description-box--black">
  <div>
    <h2 class="title title--white underline-title">
      Чому раніше не <br />
      виходило?
    </h2>
    <ul class="list descr-list--black">
      <li class="descr-item descr-item--white">
        <svg class="descr-icon" width="24" height="24">
          <use href="./images/icons-1.svg#icon-list"></use></svg
        >Відсутність системи послідовних дій та регулярних тренувань
      </li>
      <li class="descr-item descr-item--white">
        <svg class="descr-icon" width="24" height="24">
          <use href="./images/icons-1.svg#icon-cross"></use>
        </svg>
        Проблеми з незбалансованим, надмірним або шкідливим харчуванням
      </li>
      <li class="descr-item descr-item--white">
        <svg class="descr-icon" width="24" height="24">
          <use href="./images/icons-1.svg#icon-apple"></use></svg
        >Різке припинення тренувань і повернення до незбалансованого харчування
        після незначних досягнень в ході інтенсивних тренувань
      </li>
      <li class="descr-item descr-item--white">
        <svg class="descr-icon" width="24" height="24">
          <use href="./images/icons-1.svg#icon-column"></use></svg
        >Відсутність знань, як послідовно можна досягти бажаних результатів
      </li>
    </ul>
  </div>
</section>
<section id="trainer" class="trainer trainer-b-0 container">
  <div class="trainer--small trainer-desktop-box">
    <div>
      <h2 class="title trainer-title">
        Тренер <br />
        Анна Горпинчук
      </h2>
      <h3 class="trainer-subtitle">
        фітнес тренер зі стажем <br />
        більше 7 років
      </h3>
      <picture>
        <source
          srcset="
            ./images/trainer-mobile.webp    1x,
            ./images/trainer-mobile@2x.webp 2x
          "
          media="(max-width: 999px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/trainer-mobile.jpg    1x,
            ./images/trainer-mobile@2x.jpg 2x
          "
          media="(max-width: 999px)"
          type="image/jpg"
        />
        <img
          src="./images/trainer-mobile.jpg"
          alt="Тренер"
          class="trainer-foto trainer-foto--new"
          width="334"
          height="433"
        />
      </picture>

      <ul class="list accent-list accent-list--transparent">
        <li class="accent-item accent-item--trainer">
          <svg class="arg-icon" width="20" height="20">
            <use href="./images/icons.svg#icon-check_orange"></use>
          </svg>
          Основа її підходу - любов і піклування до тіла і клієнтів
        </li>
        <li class="accent-item accent-item--trainer">
          <svg class="arg-icon" width="20" height="20">
            <use href="./images/icons.svg#icon-check_orange"></use>
          </svg>
          Вона проти виснажливих дієт та жорстких вправ
        </li>
        <li class="accent-item accent-item--trainer">
          <svg class="arg-icon" width="20" height="20">
            <use href="./images/icons.svg#icon-check_orange"></use>
          </svg>
          Вважає, що будь-хто може виглядати круто і мати здорове тіло, якщо
          правильно підібрати програму
        </li>
        <li class="accent-item accent-item--trainer">
          <svg class="arg-icon" width="20" height="20">
            <use href="./images/icons.svg#icon-check_orange"></use>
          </svg>
          На власному досвіді показує, що навіть маючи 3 дітей, можна почувати
          себе легко, здорово і кайфувати від свого тіла
        </li>
      </ul>
    </div>

    <picture>
      <source
        srcset="
          ./images/trainer-desktop.webp    1x,
          ./images/trainer-desktop@2x.webp 2x
        "
        media="(min-width: 1200px)"
        type="image/webp"
      />
      <source
        srcset="
          ./images/trainer-desktop.jpg    1x,
          ./images/trainer-desktop@2x.jpg 2x
        "
        media="(min-width: 1200px)"
      />

      <img
        src="./images/trainer-desktop.jpg"
        alt="Тренер"
        class="trainer-foto--desktop--new"
        width="756"
        height="594"
      />
    </picture>
  </div>
</section>
<section id="description" class="container description pb--descr">
  <div class="description-box">
    <h2 class="title descr-title">Ця програма для вас, якщо ви бажаєте</h2>
    <ul class="descr-list description-list--block descr-list--bootom">
      <li class="descr-item">
        <svg class="descr-icon" width="24" height="24">
          <use href="./images/icons.svg#icon-chevrons-right"></use></svg
        >Мати більше енергії та сил
      </li>
      <li class="descr-item">
        <svg class="descr-icon" width="24" height="24">
          <use href="./images/icons.svg#icon-chevrons-right"></use></svg
        >Допомогти тілу пережити щоденний стрес
      </li>
      <li class="descr-item">
        <svg class="descr-icon" width="24" height="24">
          <use href="./images/icons.svg#icon-chevrons-right"></use>
        </svg>
        Впровадити спорт без додаткового навчання та самостійного складання
        плану тренувань
      </li>
      <li class="descr-item">
        <svg class="descr-icon" width="24" height="24">
          <use href="./images/icons.svg#icon-chevrons-right"></use>
        </svg>
        Покращити поставу
      </li>
      <li class="descr-item">
        <svg class="descr-icon" width="24" height="24">
          <use href="./images/icons.svg#icon-chevrons-right"></use></svg
        >Підтягнути мʼязи всього тіла
      </li>
      <li class="descr-item">
        <svg class="descr-icon" width="24" height="24">
          <use href="./images/icons.svg#icon-chevrons-right"></use></svg
        >Відновитися після пологів
      </li>
      <li class="descr-item">
        <svg class="descr-icon" width="24" height="24">
          <use href="./images/icons.svg#icon-chevrons-right"></use></svg
        >Забути про обвислий живіт та біль у спині
      </li>
      <li class="descr-item">
        <svg class="descr-icon" width="24" height="24">
          <use href="./images/icons.svg#icon-chevrons-right"></use></svg
        >Позбутися надмірної ваги
      </li>
      <li class="descr-item">
        <svg class="descr-icon" width="24" height="24">
          <use href="./images/icons.svg#icon-chevrons-right"></use></svg
        >Отримати інтелектуальну систему, яка приведе вас до стійких
        результатів, замість марнування часу на хаотичні дії
      </li>
    </ul>
  </div>
  <div class="description-box">
    <h3 class="title descr-title">Приєднуйтесь і отримаєте</h3>
    <div>
      <ul class="list accent-list">
        <li class="accent-item">
          <svg class="accent-icon" width="12" height="12">
            <use href="./images/icons.svg#icon-cd"></use>
          </svg>
          4 основні тренування щотижня, кожне тривалістю 30-40 хвилин
        </li>
        <li class="accent-item">
          <svg class="accent-icon" width="12" height="12">
            <use href="./images/icons.svg#icon-cd"></use>
          </svg>
          Спілкування з закритому телеграм чаті з учасниками програми
        </li>
        <li class="accent-item">
          <svg class="accent-icon" width="12" height="12">
            <use href="./images/icons.svg#icon-cd"></use>
          </svg>
          Прямі ефіри з тренером, де отримаєте розгорнуті відповіді на всі ваші
          питання
        </li>
        <li class="accent-item">
          <svg class="accent-icon" width="12" height="12">
            <use href="./images/icons.svg#icon-cd"></use></svg
          >Рекомендації щодо харчування від нашого досвідченого нутриціолога
        </li>
        <li class="accent-item">
          <svg class="accent-icon" width="12" height="12">
            <use href="./images/icons.svg#icon-cd"></use></svg
          >Конструктор збалансованих тарілок для створення власного
          раціонального меню
        </li>
        <li class="accent-item">
          <svg class="accent-icon" width="12" height="12">
            <use href="./images/icons.svg#icon-cd"></use></svg
          >Рекомендації лікаря ендокринолога по базовому щорічному чекапу та
          розшифровці аналізів
        </li>
        <li class="accent-item">
          <svg class="accent-icon" width="12" height="12">
            <use href="./images/icons.svg#icon-cd"></use></svg
          >Легко інсталюється у ваш звичний режим життя і дозволяє досягати
          помітних результатів
        </li>
        <li class="accent-item">
          <svg class="accent-icon" width="12" height="12">
            <use href="./images/icons.svg#icon-cd"></use></svg
          >Вашим провідником буде чат-бот, який надсилатиме тренування і
          нагадування, йому ви можете написати питання чи поділитися враженнями
        </li>
      </ul>
      <a class="button button--accent" href="#">купити</a>
    </div>
  </div>
</section>
<section class="container line line--white"></section>
<section id="price" class="price container">
  <h2 class="title">Вартість і умови оплати</h2>
  <div class="price-block">
    <ul class="list price-list">
      <li class="price-item">
        <div>
          <h3 class="title price-item-title">Оплата “Кожен місяць”</h3>
          <p class="price-item-price">999 грн<span>/кожен місяць</span></p>
          <h4 class="price-item-subtitle">Працює за принципом підписки</h4>
          <p class="price-item-descr">
            Вам достатньо один раз провести оплату, а далі система зніматиме
            гроші автоматично щомісяця однаковою сумою. Вам немає потреби
            переживати, чи сплачені ваші заняття, просто продовжуєте займатись в
            зручний для вас час!
          </p>
        </div>
        <div>
          <p class="price-item-full">
            Загальна вартість програми <br />
            <span>5994 грн</span>
          </p>
          <button class="button button--transparent">купити</button>
        </div>
      </li>
      <li class="price-item">
        <div class="economy">
          <div class="flag">
            <div class="triangle">
              <div class="economy-line"></div>
            </div>
          </div>
          <p class="economy-text">Економія 996 грн</p>
        </div>

        <div>
          <h3 class="title price-item-title">Оплата “раз на 3 місяці”</h3>
          <p class="price-item-price">2499 грн<span>/кожні три місяці</span></p>
          <h4 class="price-item-subtitle">Оплата половини програми</h4>
          <p class="price-item-descr">
            Єдиноразовий платіж на 3 місяці. По закінченню терміну бот вам
            нагадає про наступну оплату.
          </p>
        </div>
        <div>
          <p class="price-item-full">
            Загальна вартість програми <br />
            <span>4998 грн</span>
          </p>
          <button class="button button--transparent">купити</button>
        </div>
      </li>
      <li class="price-item">
        <div class="economy">
          <div class="flag">
            <div class="triangle">
              <div class="economy-line"></div>
            </div>
          </div>
          <p class="economy-text">Економія до 1195 грн</p>
        </div>
        <div>
          <h3 class="title price-item-title">Оплата “Курс повністю”</h3>
          <p class="price-item-price">4799 грн<span>/весь курс</span></p>
          <h4 class="price-item-subtitle">Оплата всієї програми одразу</h4>
          <p class="price-item-descr">
            В цьому випадку ви отримуєте доступ до всього курсу одразу, без
            необхідності продовження і можете займатись у підходящому вам темпі
            в зручний час. Доступ лишається з вами назавжди.
          </p>
        </div>
        <div>
          <p class="price-item-full">
            Загальна вартість програми <br />
            <span>4799 грн</span>
          </p>
          <button class="button button--transparent">купити</button>
        </div>
      </li>
    </ul>
  </div>
</section>
<include src="./partials/question-fitness.html"></include>
<section>
  <div class="container video">
    <p class="title title--small title--small--bottom-12">
      Спробуй пробне тренування з клубу
    </p>
    <div class="fitness-try-video">
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/cWXLi0WpLtU?si=DxkdcPrw46232J9Z"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
    </div>
  </div>
</section>
