<section id="description" class="container description">
  <div class="description-box">
    <h2 class="title descr-title">
      Цей клуб для вас, <br />
      якщо ви...
    </h2>
    <ul class="bottom-60">
      <li class="descr-item">
        <svg class="descr-icon" width="24" height="24">
          <use href="./images/icons.svg#icon-chevrons-right"></use></svg
        >Ви втомилися від виснажливих інтенсивних тренувань
      </li>
      <li class="descr-item">
        <svg class="descr-icon" width="24" height="24">
          <use href="./images/icons.svg#icon-chevrons-right"></use></svg
        >Ви раніше отримали швидкий результат, але швидко його втратили.
      </li>
      <li class="descr-item">
        <svg class="descr-icon" width="24" height="24">
          <use href="./images/icons.svg#icon-chevrons-right"></use>
        </svg>
        Ваші спроби схуднути та підтягнути тіло були безуспішними
      </li>
      <li class="descr-item">
        <svg class="descr-icon" width="24" height="24">
          <use href="./images/icons.svg#icon-chevrons-right"></use>
        </svg>
        Вам потрібен спортзал, але складно самостійно будувати тренування.
      </li>
      <li class="descr-item">
        <svg class="descr-icon" width="24" height="24">
          <use href="./images/icons.svg#icon-chevrons-right"></use></svg
        >У вас є абонемент у спортзал, але не маєте часу на регулярні візити
      </li>
    </ul>
  </div>
  <p class="result-descr-title bottom-12">Спробуй пробне тренування з клубу</p>

  <iframe
    src="https://www.youtube.com/embed/cWXLi0WpLtU"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen
    class="bottom-12 fitness-try-video"
  >
  </iframe>
</section>
<section class="container description-box--black">
  <div class="description-box">
    <h2 class="title descr-title descr-title--white">
      причини невдалих <br />
      спроб
    </h2>
    <ul class="bottom-60 list descr-list">
      <li class="descr-item descr-item--white">
        <svg class="descr-icon" width="24" height="24">
          <use href="./images/icons-1.svg#icon-list"></use></svg
        >Відсутність системи послідовних дій та регулярних тренувань
      </li>
      <li class="descr-item descr-item--white">
        <svg class="descr-icon" width="24" height="24">
          <use href="./images/icons-1.svg#icon-apple"></use></svg
        >Проблеми з незбалансованим, надмірним або шкідливим харчуванням
      </li>
      <li class="descr-item descr-item--white">
        <svg class="descr-icon" width="24" height="24">
          <use href="./images/icons-1.svg#icon-cross"></use>
        </svg>
        Різке припинення тренувань і повернення до незбалансованого харчування
        після незначних досягнень в ході інтенсивних тренувань
      </li>
      <li class="descr-item descr-item--white">
        <svg class="descr-icon" width="24" height="24">
          <use href="./images/icons-1.svg#icon-column"></use>
        </svg>
        Відсутність знань про те, як крок за кроком можна досягти бажаних
        результатів
      </li>
    </ul>
  </div>
</section>
<section class="fitness-foto
"></section>
<section id="description" class="container description">
  <div class="description-box">
    <h2 class="title descr-title">якщо ви бажаєте...</h2>
    <ul class="bottom-60">
      <li class="descr-item">
        <svg class="descr-icon" width="24" height="24">
          <use href="./images/icons.svg#icon-chevrons-right"></use></svg
        >Покращити поставу
      </li>
      <li class="descr-item">
        <svg class="descr-icon" width="24" height="24">
          <use href="./images/icons.svg#icon-chevrons-right"></use></svg
        >Підтягнути мʼязи всього тіла
      </li>
      <li class="descr-item">
        <svg class="descr-icon" width="24" height="24">
          <use href="./images/icons.svg#icon-chevrons-right"></use>
        </svg>
        Відновитися після пологів
      </li>
      <li class="descr-item">
        <svg class="descr-icon" width="24" height="24">
          <use href="./images/icons.svg#icon-chevrons-right"></use>
        </svg>
        Забути про обвислий живіт та біль у спині
      </li>
      <li class="descr-item">
        <svg class="descr-icon" width="24" height="24">
          <use href="./images/icons.svg#icon-chevrons-right"></use></svg
        >Забути про обвислий живіт та біль у спині
      </li>
      <li class="descr-item">
        <svg class="descr-icon" width="24" height="24">
          <use href="./images/icons.svg#icon-chevrons-right"></use></svg
        >Позбутися надмірної ваги
      </li>
      <li class="descr-item">
        <svg class="descr-icon" width="24" height="24">
          <use href="./images/icons.svg#icon-chevrons-right"></use></svg
        >Отримати інтелектуальну систему, яка приведе вас до стійких
        результатів, замість марнування часу на хаотичні дії
      </li>
    </ul>
  </div>

  <div class="description-box1">
    <div>
      <h3 class="accent-title">Приєднуйтесь до клубу та отримайте</h3>
      <ul class="list accent-list descr-accent-list-tablet">
        <li class="accent-item">
          <svg class="accent-icon" width="12" height="12">
            <use href="./images/icons.svg#icon-cd"></use>
          </svg>
          4 основні тренування щотижня, кожне тривалістю 30-40 хвилин. Вашим
          провідником в онлайн клубі буде чат бот, який надсилатиме тренування,
          йому ви можете написати питання чи поділитися враженнями.
        </li>
        <li class="accent-item">
          <svg class="accent-icon" width="12" height="12">
            <use href="./images/icons.svg#icon-cd"></use>
          </svg>
          Спілкування з закритому телеграм чаті.
        </li>
        <li class="accent-item">
          <svg class="accent-icon" width="12" height="12">
            <use href="./images/icons.svg#icon-cd"></use></svg
          >Рекомендації щодо харчування від нашого досвідченого нутриціолога.
        </li>
        <li class="accent-item">
          <svg class="accent-icon" width="12" height="12">
            <use href="./images/icons.svg#icon-cd"></use></svg
          >Конструктор збалансованих тарілок для створення власного
          раціонального меню.
        </li>
        <li class="accent-item">
          <svg class="accent-icon" width="12" height="12">
            <use href="./images/icons.svg#icon-cd"></use></svg
          >Рекомендації лікаря ендокринолога по базовому щорічному чекапу та
          розшифровці аналізів.
        </li>
      </ul>
    </div>
  </div>

  <a class="button button-transparent-bg hidden-button" href="#">приєднатись</a>
</section>
