<footer class="footer container">
  <ul class="list footer-list">
    <li class="footer-list-item">
      <a href="./index.html" class="link">Головна</a>
    </li>
    <li class="footer-list-item">
      <a href="#trainer" class="link">Про тренера</a>
    </li>
    <li class="footer-list-item">
      <a href="#program" class="link">Програма курсу</a>
    </li>
    <li class="footer-list-item">
      <a href="#package" class="link">Пакети</a>
    </li>
    <li class="footer-list-item">
      <a href="#contraindication" class="link">Протипоказання</a>
    </li>
    <li class="footer-list-item">
      <a href="#inventory" class="link">Інвентар</a>
    </li>
    <li class="footer-list-item">
      <a href="#feedback" class="link">Відгуки</a>
    </li>
    <li class="footer-list-item">
      <a href="#contact" class="link">Контакти</a>
    </li>
  </ul>
  <div class="footer-create-box">
    <p class="footer-create-link">Designed by Olena Tkachenko</p>
    <p class="footer-create-link">©Fizkylt 2023</p>
    <p class="footer-create-link">Developed by Olha Kutsybala</p>
  </div>
</footer>
