<footer class="footer container">
  <ul class="list footer-list">
    <li class="footer-list-item">
      <a href="./index.html" class="link">Головна</a>
    </li>
    <li class="footer-list-item">
      <a href="#trainer" class="link">Про тренера</a>
    </li>
    <li class="footer-list-item">
      <a href="#program" class="link">Програма курсу</a>
    </li>
    <li class="footer-list-item">
      <a href="#package" class="link">Пакети</a>
    </li>
    <li class="footer-list-item">
      <a href="#contraindication" class="link">Протипоказання</a>
    </li>
    <li class="footer-list-item">
      <a href="#inventory" class="link">Інвентар</a>
    </li>
    <li class="footer-list-item">
      <a href="#feedback" class="link">Відгуки</a>
    </li>
    <li class="footer-list-item">
      <a href="#contact" class="link">Контакти</a>
    </li>
  </ul>
  <!-- <div class="footer-contact-container">
    <div></div>
    <ul class="list footer-contact-list">
      <li class="footer-contact-list-item">
        <a
          href="tel:+380990369382"
          class="link contact-link footer-contact-link"
        >
          <svg width="18" height="18">
            <use href="./images/icons.svg#icon-phone"></use>
          </svg>
          +38 099 03 69 382</a
        >
      </li>
      <li class="footer-contact-list-item">
        <a
          href="mailto:fizkyltinfo@gmail.com"
          lang="en"
          class="link contact-link footer-contact-link"
        >
          <svg width="18" height="18">
            <use href="./images/icons.svg#icon-envelope"></use>
          </svg>
          fizkyltinfo@gmail.com
        </a>
      </li>
      <li>
        <a
          href="https://www.instagram.com/fizkylt.body/"
          target="_blank"
          rel="noopener"
          class="link contact-link footer-contact-link"
        >
          <svg width="18" height="18">
            <use href="./images/icons.svg#icon-instagram"></use>
          </svg>
          @fizkylt.body</a
        >
      </li>
    </ul>
  </div> -->
  <div class="footer-create-box">
    <a
      href="https://www.instagram.com/fizkylt.body/"
      target="_blank"
      rel="noopener"
      class="link footer-create-link"
      >@fizkylt.body</a
    >
    <a href="" target="_blank" rel="noopener" class="link footer-create-link"
      >Designed by Olena Tkachenko</a
    >
  </div>
</footer>
