<footer class="footer container">
  <div class="footer-create-box">
    <p class="footer-create-link footer-create-link-hidden-desktop">
      ©Fizkylt 2023
    </p>
    <div class="footer-create-box1">
      <a
        href="https://www.instagram.com/olena.bilka/"
        target="_blank"
        rel="noopener"
        class="link footer-create-link"
      >
        Designed by Olena Tkachenko
      </a>
      <p class="footer-create-link footer-create-link-hidden-mobile">
        ©Fizkylt 2023
      </p>
      <a
        href="https://www.instagram.com/olya_kutsybala_sheremeta/"
        target="_blank"
        rel="noopener"
        class="link footer-create-link"
      >
        Developed by Olha Kutsybala
      </a>
    </div>
  </div>
</footer>
