<section class="gift container">
  <h2 class="title gift_title">подарунок</h2>
  <p class="gift-subtitle">за найкращий результат</p>
  <img
    srcset="./images/watch_mobile.jpg 1x, ./images/watch_mobile@2x.jpg 2x"
    src="./images/watch_mobile.jpg"
    alt="Килимок для спорту"
    width="335"
    height="272"
    class="gift-image"
  />
  <p class="gift-descr">
    Придбай будь-який пакет курсу та покажи найкращий результат “ДО” і “ПІСЛЯ”
    серед усіх учасників курсу – і ти отримаєш годинник Apple Watch у подарунок.
  </p>
</section>
