<header class="header">
  <div class="container">
    <nav class="header__nav">
      <button
        type="button"
        class="menu__button js-open-menu"
        aria-expanded="false"
        aria-controls="mobile-menu"
      >
        <svg width="40" height="40">
          <use href="./images/icons.svg#icon-menu"></use>
        </svg>
      </button>
      <!-- <div class="main-navigation">
        <ul class="header__menu list">
          <li>
            <a href="./index.html" class="mobile-menu__link">Fizkylt</a>
          </li>
          <li>
            <a href="#description" class="mobile-menu__link">Опис </a>
          </li>
          <li>
            <a href="#trainer" class="mobile-menu__link">Ваш тренер </a>
          </li>
          <li>
            <a href="#program" class="mobile-menu__link">Програма курсу </a>
          </li>
          <li>
            <a href="#package" class="mobile-menu__link">Пакети </a>
          </li>
        </ul>
      </div> -->
    </nav>
  </div>
</header>
