<header class="header">
  <div class="container">
    <nav class="header__nav">
      <button
        type="button"
        class="menu__button js-open-menu"
        aria-expanded="false"
        aria-controls="mobile-menu"
      >
        <svg width="40" height="40">
          <use href="./images/icons.svg#icon-menu"></use>
        </svg>
      </button>
      <div class="main-navigation">
        <ul class="header__menu list">
          <li>
            <a
              href="./index.html"
              class="uppercase link header__home header__home-box current-home"
              >Fizkylt</a
            >
          </li>
          <li>
            <a
              href="#description"
              class="uppercase link header__shopping header__shopping-box"
              >Опис
            </a>
          </li>
          <li>
            <a
              href="#trainer"
              class="uppercase link header__shopping header__shopping-box"
              >Ваш тренер
            </a>
          </li>
          <li>
            <a
              href="#program"
              class="uppercase link header__shopping header__shopping-box"
              >Програма курсу
            </a>
          </li>
          <li>
            <a
              href="#"
              class="uppercase link header__shopping header__shopping-box"
              >Пакети
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
