<header class="header">
  <div class="container header_container">
    <div class="header_logo_container header_logo_container-767">
      <a href="./index.html" aria-label="logo">
        <p class="header-title">
          авторська академія фітнесу <br />
          Анни Горпинчук
        </p>
      </a>
    </div>
    <nav class="header__nav">
      <button
        type="button"
        class="menu__button js-open-menu"
        aria-expanded="false"
        aria-controls="mobile-menu"
        aria-label="mobile-menu"
      >
        <svg width="40" height="40">
          <use href="./images/icons.svg#icon-menu"></use>
        </svg>
      </button>
      <div class="main-navigation">
        <ul class="list header__menu">
          <li class="header__link">
            <a href="./index.html">Головна</a>
          </li>
          <li class="header__link">
            <a href="./healthy-body.html">Здорове тіло</a>
          </li>
          <li class="header__link">
            <a href="./fitness.html">Свідомий фітнес</a>
          </li>
        </ul>
        <a
          href="./index.html"
          class="header_logo_container header_logo_container-768"
        >
          <p class="header-title header_title-hidden">
            авторська академія фітнесу <br />
            Анни Горпинчук
          </p>
        </a>
        <ul class="list header__menu">
          <li class="header__link">
            <a href="./buttocks.html">Пружні сідниці</a>
          </li>
          <li class="header__link products-item--notactive">
            <a href="./stomache.html">Плаский живіт</a>
          </li>
          <li class="header__link">
            <a href="./index.html#contact">Контакти</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
