<section class="container hero hero-bg-4">
  <div class="hero-title-container">
    <h1 class="hero-title">
      <span class="hero-title-transparent hero-title-transparent--size"
        >Онлайн-клуб</span
      >
      <br />
      <svg class="fitness-icon-title" width="183" height="113">
        <use href="./images/icons-1.svg#icon-fitness-title"></use>
      </svg>
      <span class="fitness-title-1000"
        >свідомий <br />
        фітнес</span
      >
    </h1>
  </div>
  <div class="center-mobile">
    <p class="hero-stomach-descr bottom-24 hero-fitness-descr">
      Інтелектуальна система тренувань без потреби відвідувати виснажливі
      інтенсивні заняття, що Легко інсталюється у ваш звичний розклад і дозволяє
      досягати помітних результатів
    </p>

    <a class="button hero-button hero-button-fitness" href="#"
      >приєднатися до клубу</a
    >
  </div>
  <!-- </div> -->
</section>
