<section class="container hero hero-bg-body">
  <div class="hero-container">
    <h1 class="hero-title">
      <p>Онлайн-курс</p>
      <svg class="hero-title-icon" width="300" height="56">
        <use href="./images/icons-1.svg#icon-body-title"></use>
      </svg>
      <span class="hero-title--orange hero-title--orange--border"
        >“Здорове тіло”</span
      >
    </h1>
    <p class="hero-descr--body">
      Створи своє струнке і <br />
      сильне тіло, тренуючись <br />
      лише 30 хвилин на день
    </p>
  </div>
  <a class="button hero-button" href="#package">Обрати пакет</a>
</section>
