<section class="container hero hero-buttocks hero-bg-buttocks">
  <h1 class="hero-title hero-title--buttocks">
    <span class="hero-title--orange hero-title--orange--border"
      >пружні сідниці</span
    >
    <!-- <svg class="hero-title-icon" width="146" height="56">
      <use href="./images/icons-1.svg#icon-buttocks1-title"></use>
    </svg> -->
    <svg class="hero-title-icon" width="146" height="56">
      <use href="./images/icons-1.svg#icon-buttocks-title"></use>
    </svg>
    <p class="hero-title-transparent--small">за 21 день</p>
  </h1>
  <p class="hero-descr hero-descr--buttocks">
    ОНЛАЙН ІНТЕНСИВ, ЯКИЙ МОЖНА ПРОХОДИТИ БУДЬ-ДЕ!
    <br />
    Не потребує додаткового спеціального обладнання!
    <!-- <span class="hero-descr--buttocks--orange"
      >Не потребує додаткового спеціального обладнання!</span
    > -->
  </p>
  <a class="button" href="#">купити</a>
</section>
