<section class="bg-image_hero">
  <div class="container">
    <div class="hero_title_container">
      <h2 class="hero-title-upper">Fizkylt</h2>
    </div>
    <h3 class="hero-title">авторська академія фітнесу Анни Горпинчук</h3>
    <!-- <h2 class="hero-title">
      <span class="hero-title-upper">Fizkylt</span><br />
      авторська академія фітнесу Анни Горпинчук
    </h2> -->
    <h1 class="hero-subtitle">Онлайн-курс "Здорове тіло"</h1>
    <p class="hero-descr">
      Створи своє струнке і сильне тіло,тренуючись лише 30 хвилин на день!
    </p>
    <p class="hero-descr1">Без виснажливих вправ і дієт.</p>
    <a href="#package">
      <button class="button" type="submit">Обрати пакет</button>
    </a>
  </div>
</section>
