<section class="container hero hero-bg-main">
  <div class="">
    <!-- <svg class="hero-start-icon" width="70" height="70">
      <use href="./images/icons.svg#icon-Group-298"></use>
    </svg> -->
    <h1 class="hero-title bottom-20">
      <span class="hero-title hero-title-transparent">академія фітнесу</span>
      <br />
      анни горпинчук
    </h1>
    <p class="hero-descr">
      Створи своє струнке і <br />
      сильне тіло, тренуючись <br />
      лише 30 хвилин на день
    </p>
  </div>
  <a class="button hero-button" href="#products">обрати курс</a>
</section>
