<section class="container hero hero-body hero-bg-body">
  <div class="hero-container">
    <!-- <div> -->
    <h1 class="hero-title hero-title--body">
      <p>Онлайн-курс</p>
      <svg class="hero-title-icon" width="220" height="56">
        <use href="./images/icons-1.svg#icon-body-title"></use>
      </svg>
      <span class="hero-title--orange hero-title--orange--border"
        >Здорове тіло</span
      >
    </h1>
  </div>
  <div>
    <p class="hero-descr hero-descr--body">
      Створи своє струнке і сильне тіло, тренуючись лише 30 хвилин на день
    </p>
    <a class="button hero-button" href="#package">Обрати пакет</a>
  </div>
</section>
