<section class="container hero hero-fitness hero-bg-fitness">
  <div class="hero-fitness-container">
    <h1 class="hero-title hero-title--fitness">
      <p>Онлайн програма</p>
      <span class="hero-title--orange hero-title--orange--border"
        >Свідомий <br />
        фітнес</span
      >
    </h1>
    <p class="hero-descr hero-descr--fitness">
      Готова комплексна система тренувань на все тіло, розрахована на 6 місяців.
      <br />Не потребує походів в спорт зал, виснажливих довгих занять
    </p>
    <a class="button" href="#price">Купити</a>
  </div>
</section>
