<section class="container hero hero-buttocks hero-bg-buttocks">
  <div class="hero-title-container hero-title-container--buttocks">
    <h1 class="hero-title hero-title--buttocks">
      <span class="hero-title--orange hero-title--orange--border"
        >пружні сідниці</span
      >
      <p>за 21 день</p>
    </h1>
    <p class="hero-title hero-price hero-price--buttocks">лише 899 грн</p>
  </div>

  <p class="hero-descr hero-descr--buttocks">
    ОНЛАЙН ІНТЕНСИВ, ЯКИЙ МОЖНА ПРОХОДИТИ БУДЬ-ДЕ!
    <br />
    Не потребує додаткового спеціального обладнання!
  </p>
  <a class="button" href="#">купити</a>
</section>
