<section class="container hero hero-bg-stomache">
  <div class="hero-container hero-stomache-container">
    <h1 class="hero-title hero-title-stomache">
      <span class="hero-title--orange hero-title--orange--border"
        >плаский живіт</span
      >
      <svg
        class="hero-title-icon hero-title-icon--left"
        width="280"
        height="56"
      >
        <use href="./images/icons-1.svg#icon-stomache-title"></use>
      </svg>
      <p class="hero-title--left">за 21 день</p>
    </h1>
    <p class="hero-descr--white hero-descr--stomach--center">
      онлайн інтенсив, який не вимагає від вас безкінечних скручувань і
      виконання кардіонавантажень
    </p>
  </div>

  <div>
    <p class="hero-descr--white hero-descr--stomach">
      онлайн інтенсив, який не вимагає від вас безкінечних скручувань і
      виконання кардіонавантажень
    </p>

    <a class="button hero-button" href="#">купити</a>
  </div>
</section>
