<section class="container hero hero-stomache hero-bg-stomache">
  <h1 class="hero-title hero-title--stomache">
    <span class="hero-title--orange hero-title--orange--border"
      >плаский живіт</span
    >
    <!-- <svg class="hero-title-icon" width="270" height="56">
      <use href="./images/icons-1.svg#icon-stomache-title"></use>
    </svg> -->
    <p class="hero-title--left">за 21 день</p>
  </h1>
  <p class="hero-descr hero-descr--stomache">
    онлайн інтенсив, який не вимагає від вас безкінечних скручувань і виконання
    кардіонавантажень
  </p>
  <a class="button hero-button" href="#">купити</a>
</section>
