<section class="container hero hero-bg-2">
  <div class="">
    <h1 class="hero-title">
      <svg class="" width="280" height="56">
        <use href="./images/icons-1.svg#icon-stomache-title"></use>
      </svg>
      <p
        class="hero-title-transparent hero-title-transparent--size hero-title-transparent--right bottom-162"
      >
        за 21 день
      </p>
    </h1>
    <p class="hero-stomach-descr bottom-24">
      онлайн інтенсив, який не вимагає від вас безкінечних скручувань і
      виконання кардіонавантажень
    </p>
  </div>
  <a class="button hero-button" href="#">купити</a>
</section>
