<section class="container hero hero-fitness hero-bg-fitness">
  <div class="hero-fitness-container">
    <!-- <div> -->
    <h1 class="hero-title hero-title--fitness">
      <p>Онлайн програма</p>
      <!-- <svg
        class="hero-title-icon hero-title-icon--fitness"
        width="183"
        height="113"
      >
        <use href="./images/icons-1.svg#icon-fitness-title"></use>
      </svg> -->
      <span class="hero-title--orange hero-title--orange--border"
        >Свідомий <br />
        фітнес</span
      >
    </h1>

    <p class="hero-descr hero-descr--fitness">
      Готова комплексна система тренувань на все тіло, розрахована на 6 місяців.
      <br />Не потребує походів в спорт зал, виснажливих довгих занять
      <!-- Легко інсталюється у ваш звичний режим життя і дозволяє досягати помітних
      результатів -->
      <!-- Інтелектуальна система тренувань без потреби відвідувати виснажливі
      інтенсивні заняття, що Легко інсталюється у ваш звичний розклад і дозволяє
      досягати помітних результатів -->
    </p>
    <!-- </div> -->

    <a class="button" href="#">Купити</a>
  </div>
</section>
