<section class="container hero hero-body hero-bg-body">
  <div class="hero-body-container">
    <div class="hero-title-container">
      <h1 class="hero-title hero-title--body">
        <p>Онлайн-курс</p>
        <span class="hero-title--orange hero-title--orange--border"
          >Здорове тіло</span
        >
      </h1>
      <p class="hero-title hero-price">лише 1290 грн</p>
    </div>
    <p class="hero-descr hero-descr--body">
      Створи своє струнке і сильне тіло, тренуючись лише 30 хвилин на день
    </p>
    <a class="button" href="#package">Купити</a>
  </div>
</section>
