<section class="container hero hero-bg-3">
  <div class="hero-title-container">
    <h1 class="hero-title bottom-76">
      <!-- <img
        src="./images/stomache-hero.svg"
        alt="плаский живіт"
        width="234"
        height="48" -->
      <!-- /> -->
      <span class="hero-title-border">Сідниці </span>
      <br />
      <span
        class="hero-title-transparent hero-title-transparent--size bottom-76"
        >за 21 день</span
      >
    </h1>
    <p class="hero-stomach-descr accent-bg bottom-117">
      Це онлайн інтенсив, який можна пройти вдома без спеціального обладнання
    </p>
  </div>
  <a class="button hero-button" href="#">купити</a>
</section>
