<section id="inventory" class="container inventory">
  <h2 class="title">Інвентар для тренувань</h2>
  <p class="inventory-descr">
    Рекомендуємо придбати всього 3 гаджети. <br />
    <br />
    Вони задіють додаткові групи м’язів, розвинуть баланс, концентрацію і
    гнучкість вашого тіла. <br />
    <br />
    Мають низьку ціну, не займають місце вдома, можна взяти з собою в подорож.
  </p>
  <ul class="list">
    <li>
      <h3 class="inventory-item-title">Килимок або зручне покриття</h3>
      <img
        srcset="./images/gym_mobile.jpg 1x, ./images/gym_mobile@2x.jpg 2x"
        src="./images/gym_mobile.jpg"
        alt="Килимок для спорту"
        width="335"
        height="272"
        class="inventory-image"
      />
    </li>
    <li>
      <h3 class="inventory-item-title">М’яч для пілатесу діаметром 25-27 см</h3>
      <img
        srcset="./images/ball_mobile.jpg 1x, ./images/ball_mobile@2x.jpg 2x"
        src="./images/gym_mobile.jpg"
        alt="Килимок для спорту"
        width="355"
        height="258"
        class="inventory-image"
      />
    </li>
    <li>
      <h3 class="inventory-item-title">
        Стрічка для пілатесу середньої пружності
      </h3>
      <img
        srcset="
          ./images/strichka_mobile.jpg    1x,
          ./images/strichka_mobile@2x.jpg 2x
        "
        src="./images/strichka_mobile.jpg"
        alt="Килимок для спорту"
        width="335"
        height="356"
        class="inventory-image bottom-0"
      />
    </li>
  </ul>
</section>
