<section class="inventory container section">
  <h2 class="title">Інвентар для тренувань</h2>
  <p class="inventory-descr">
    Рекомендуємо придбати всього 3 гаджети. Вони задіють додаткові групи м’язів,
    розвинуть баланс, концентрацію і гнучкість вашого тіла! Мають низьку ціну,
    не займають місце вдома, можна взяти з собою в подорож.
  </p>
  <ul class="list">
    <li data-aos="fade-up" data-aos-duration="1500">
      <img
        srcset="./images/yogimat_gym.jpg"
        src="./images/yogimat_gym.jpg"
        alt="Процес розробки мобільних додатків"
        width="200"
        class="inventory-image"
      />
      <h3 class="inventory-item-title">Килимок</h3>
      <p class="inventory-item-descr">
        Килимок для фітнесу або зручне покриття.
      </p>
    </li>
    <li data-aos="fade-up" data-aos-duration="1500">
      <img
        srcset="./images/pilka-do-pilatesu-cw.jpg"
        src="./images/pilka-do-pilatesu-cw.jpg"
        alt="Процес розробки мобільних додатків"
        width="200"
        class="inventory-image"
      />
      <h3 class="inventory-item-title">М’яч</h3>
      <p class="inventory-item-descr">М’яч для пілатесу діаметром 25-27 см.</p>
    </li>
    <li data-aos="fade-up" data-aos-duration="1500">
      <img
        srcset="./images/strichka.jpg"
        src="./images/strichka.jpg"
        alt="Процес розробки мобільних додатків"
        width="200"
        class="inventory-image"
      />
      <h3 class="inventory-item-title">Стрічка</h3>
      <p class="inventory-item-descr">
        Стрічка для пілатесу середньої пружності.
      </p>
    </li>
  </ul>
</section>
