<div class="scroll-parent container transf-y">
  <div class="scroll-element primary">
    <p class="scroll-element-text">•</p>
    <p class="scroll-element-text">без виснажливих вправ і дієт</p>
    <p class="scroll-element-text">•</p>
    <p class="scroll-element-text">без виснажливих вправ і дієт</p>
  </div>
  <div class="scroll-element secondary">
    <p class="scroll-element-text">•</p>
    <p class="scroll-element-text">без виснажливих вправ і дієт</p>
    <p class="scroll-element-text">•</p>
    <p class="scroll-element-text">без виснажливих вправ і дієт</p>
  </div>
</div>
