<div class="scroll-parent container transf-x">
  <div class="scroll-element primary">
    <p class="scroll-element-text transf-x-element">•</p>
    <p class="scroll-element-text transf-x-element">
      без виснажливих вправ і дієт
    </p>
    <p class="scroll-element-text transf-x-element">•</p>
    <p class="scroll-element-text transf-x-element">
      без виснажливих вправ і дієт
    </p>
  </div>
  <div class="scroll-element secondary">
    <p class="scroll-element-text transf-x-element">•</p>
    <p class="scroll-element-text transf-x-element">
      без виснажливих вправ і дієт
    </p>
    <p class="scroll-element-text transf-x-element">•</p>
    <p class="scroll-element-text transf-x-element">
      без виснажливих вправ і дієт
    </p>
  </div>
</div>
