<div class="menu-container js-menu-container" id="mobile-menu">
  <div class="menu-header_logo_container">
    <div class="header_logo_container">
      <a href="./index.html" aria-label="logo">
        <!-- <svg class="" width="118" height="40">
          <use href="./images/icons.svg#icon-fizkylt"></use>
        </svg> -->
      </a>
      <p class="header-title">авторська академія фітнесу Анни Горпинчук</p>
    </div>
    <button
      class="menu__button js-close-menu"
      type="button"
      aria-label="close-mobile-menu"
    >
      <svg width="40" height="40">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>
  </div>
  <ul class="header__menu_mobile list">
    <li>
      <a href="./index.html" class="mobile-menu__link js-close-link1"
        >Головна</a
      >
    </li>
    <li>
      <a href="./healthy-body.html" class="mobile-menu__link js-close-link2"
        >Онлайн-курс “Здорове тіло”</a
      >
    </li>
    <li>
      <a href="./fitness.html" class="mobile-menu__link js-close-link3"
        >Онлайн-клуб “Свідомий фітнес”
      </a>
    </li>
    <li>
      <a href="./buttocks.html" class="mobile-menu__link js-close-link4"
        >Сідниці за 21 день
      </a>
    </li>
    <li>
      <a href="./stomache.html" class="products-item--notactive mobile-menu__link js-close-link4"
        >Плаский живіт за 21 день
      </a>
    </li>
    <li>
      <a href="./index.html#contact" class="mobile-menu__link js-close-link5"
        >Контакти</a
      >
    </li>
  </ul>
  <ul class="list mobile-menu-contact">
    <li class="mobile-contact-list-item">
      <a href="tel:+380990369382" class="link mobile-contact-link contact-link">
        <svg width="18" height="18">
          <use href="./images/icons.svg#icon-phone"></use>
        </svg>
        +38 099 03 69 382</a
      >
    </li>
    <li class="mobile-contact-list-item">
      <a
        href="mailto:fizkyltinfo@gmail.com"
        lang="en"
        class="link contact-link mobile-contact-link"
      >
        <svg width="18" height="18">
          <use href="./images/icons.svg#icon-envelope"></use>
        </svg>
        fizkyltinfo@gmail.com
      </a>
    </li>
    <li>
      <a
        href="https://www.instagram.com/f.i.z.k.y.l.t/"
        target="_blank"
        rel="noopener"
        class="link contact-link mobile-contact-link"
      >
        <svg width="18" height="18">
          <use href="./images/icons.svg#icon-instagram"></use>
        </svg>
        @f.i.z.k.y.l.t</a
      >
    </li>
  </ul>
</div>
