<div class="menu-container js-menu-container" id="mobile-menu">
  <button class="menu__button js-close-menu" type="button">
    <svg width="40" height="40">
      <use href="./images/icons.svg#icon-close"></use>
    </svg>
  </button>
  <ul class="header__menu_mobile list">
    <li>
      <a href="./index.html" class="mobile-menu__link js-close-link1"
        >Fizkylt</a
      >
    </li>
    <li>
      <a href="#description" class="mobile-menu__link js-close-link2">Опис </a>
    </li>
    <li>
      <a href="#trainer" class="mobile-menu__link js-close-link3"
        >Ваш тренер
      </a>
    </li>
    <li>
      <a href="#program" class="mobile-menu__link js-close-link4"
        >Програма курсу
      </a>
    </li>
    <li>
      <a href="#package" class="mobile-menu__link js-close-link5">Пакети </a>
    </li>
  </ul>
  <ul class="list mobile-menu__socials">
    <li class="mobile-menu__item">
      <a
        class="mobile-menu__social_link"
        href="https://www.instagram.com/fizkylt.body/"
        target="_blank"
        rel="noopener"
        >Instagram</a
      >
    </li>
    <li class="mobile-menu__item">
      <a
        class="mobile-menu__social_link"
        href="#"
        target="_blank"
        rel="noopener"
        >Facebook</a
      >
    </li>
    <li class="mobile-menu__item">
      <a
        class="mobile-menu__social_link"
        href="#"
        target="_blank"
        rel="noopener"
        >Twitter</a
      >
    </li>
  </ul>
</div>
