<div class="menu-container js-menu-container" id="mobile-menu">
  <button class="menu__button js-close-menu" type="button">
    <svg width="40" height="40">
      <use href="./images/icons.svg#icon-close"></use>
    </svg>
  </button>
  <ul class="header__menu_mobile list">
    <li>
      <a
        href="./index.html"
        class="uppercase link header__home header__home-box current-home"
        >Fizkylt</a
      >
    </li>
    <li>
      <a
        href="#description"
        class="uppercase link header__shopping header__shopping-box"
        >Опис
      </a>
    </li>
    <li>
      <a
        href="#trainer"
        class="uppercase link header__shopping header__shopping-box"
        >Ваш тренер
      </a>
    </li>
    <li>
      <a
        href="#program"
        class="uppercase link header__shopping header__shopping-box"
        >Програма курсу
      </a>
    </li>
    <li>
      <a href="#" class="uppercase link header__shopping header__shopping-box"
        >Пакети
      </a>
    </li>
  </ul>
  <ul class="list mobile-menu__socials">
    <li class="mobile-menu__item">Instagram</li>
    <li class="mobile-menu__item">Twitter</li>
    <li class="mobile-menu__item">Facebook</li>
  </ul>
</div>
