<section id="package" class="container package">
  <h2 class="title">Пакети</h2>
  <ul class="list package-list">
    <li class="package-item">
      <div class="package-item-box">
        <h3 class="package-title">Самостійний</h3>
        <p class="package-price package-price-blue">2699 ГРН</p>
      </div>
      <ul class="list package-item-descr-list">
        <li class="package-item-descr">
          <svg class="arg-icon" width="20" height="20">
            <use href="./images/icons.svg#icon-check-mark"></use>
          </svg>
          20 тренувань в записі по 30-35 хвилин
        </li>
        <li class="package-item-descr">
          <svg class="arg-icon" width="20" height="20">
            <use href="./images/icons.svg#icon-check-mark"></use>
          </svg>
          Розбір постави та рекомендації до тренувань
        </li>
        <li class="package-item-descr">
          <svg class="arg-icon" width="20" height="20">
            <use href="./images/icons.svg#icon-check-mark"></use>
          </svg>
          Методичка з харчування
        </li>
        <li class="package-item-descr">
          <svg class="arg-icon" width="20" height="20">
            <use href="./images/icons.svg#icon-check-mark"></use>
          </svg>
          2 прямих ефіри з експертами
        </li>
        <li class="package-item-descr package-item-descr-cross">
          <svg class="arg-icon" width="20" height="20">
            <use href="./images/icons.svg#icon-cross-circle"></use>
          </svg>
          Чат з тренером в Телеграм
        </li>
        <li class="package-item-descr package-item-descr-cross">
          <svg class="arg-icon" width="20" height="20">
            <use href="./images/icons.svg#icon-cross-circle"></use>
          </svg>
          Додатковий урок від нутріціолога
        </li>
        <li class="package-item-descr package-item-descr-cross">
          <svg class="arg-icon" width="20" height="20">
            <use href="./images/icons.svg#icon-cross-circle"></use>
          </svg>
          Додатковий урок від психолога
        </li>
        <li class="package-item-descr package-item-descr-cross">
          <svg class="arg-icon" width="20" height="20">
            <use href="./images/icons.svg#icon-cross-circle"></use>
          </svg>
          Додатковий урок від косметолога
        </li>
        <li class="package-item-descr package-item-descr-cross">
          <svg class="arg-icon" width="20" height="20">
            <use href="./images/icons.svg#icon-cross-circle"></use>
          </svg>
          3 онлайн тренування з Анною протягом курсу
        </li>
        <li class="package-item-descr package-item-descr-cross">
          <svg class="arg-icon" width="20" height="20">
            <use href="./images/icons.svg#icon-cross-circle"></use>
          </svg>
          робота з коучем в групі протягом всього курсу
        </li>
      </ul>
      <button type="button" class="button package-test-button">Купити</button>
    </li>
    <li class="package-item package-item-base">
      <div class="package-item-box package-item-box-base">
        <h3 class="package-title">Стандарт</h3>
        <p class="package-price">4499 ГРН</p>
      </div>
      <ul class="list package-item-descr-list">
        <li class="package-item-descr">
          <svg class="arg-icon" width="20" height="20">
            <use href="./images/icons.svg#icon-check-mark"></use>
          </svg>
          20 тренувань в записі по 30-35 хвилин
        </li>
        <li class="package-item-descr">
          <svg class="arg-icon" width="20" height="20">
            <use href="./images/icons.svg#icon-check-mark"></use>
          </svg>
          Розбір постави та рекомендації до тренувань
        </li>
        <li class="package-item-descr">
          <svg class="arg-icon" width="20" height="20">
            <use href="./images/icons.svg#icon-check-mark"></use>
          </svg>
          Методичка з харчування
        </li>
        <li class="package-item-descr">
          <svg class="arg-icon" width="20" height="20">
            <use href="./images/icons.svg#icon-check-mark"></use>
          </svg>
          Чат з тренером в Телеграм
        </li>
        <li class="package-item-descr">
          <svg class="arg-icon" width="20" height="20">
            <use href="./images/icons.svg#icon-check-mark"></use>
          </svg>
          2 прямих ефіри з експертами
        </li>
        <li class="package-item-descr">
          <svg class="arg-icon" width="20" height="20">
            <use href="./images/icons.svg#icon-check-mark"></use>
          </svg>
          Додатковий урок від нутріціолога
        </li>
        <li class="package-item-descr">
          <svg class="arg-icon" width="20" height="20">
            <use href="./images/icons.svg#icon-check-mark"></use>
          </svg>
          Додатковий урок від психолога
        </li>
        <li class="package-item-descr">
          <svg class="arg-icon" width="20" height="20">
            <use href="./images/icons.svg#icon-check-mark"></use>
          </svg>
          Додатковий урок від косметолога
        </li>
        <li class="package-item-descr package-item-descr-cross">
          <svg class="arg-icon" width="20" height="20">
            <use href="./images/icons.svg#icon-cross-circle"></use>
          </svg>
          3 онлайн тренування з Анною протягом курсу
        </li>
        <li class="package-item-descr package-item-descr-cross">
          <svg class="arg-icon" width="20" height="20">
            <use href="./images/icons.svg#icon-cross-circle"></use>
          </svg>
          робота з коучем в групі протягом всього курсу
        </li>
      </ul>
      <button type="button" class="button package-base-button">Купити</button>
    </li>
    <li class="package-item package-item-premium">
      <div class="package-premium-icon">
        <p>Лише 5 місць!</p>
      </div>
      <div class="package-item-box package-item-box-premium">
        <h3 class="package-title package-title-premium">Преміум</h3>
        <p class="package-price package-price-orange">6799 ГРН</p>
      </div>
      <ul class="list package-item-descr-list">
        <li class="package-item-descr">
          <svg class="arg-icon" width="20" height="20">
            <use href="./images/icons.svg#icon-check-mark"></use>
          </svg>
          20 тренувань в записі по 30-35 хвилин
        </li>
        <li class="package-item-descr">
          <svg class="arg-icon" width="20" height="20">
            <use href="./images/icons.svg#icon-check-mark"></use>
          </svg>
          Розбір постави та рекомендації до тренувань
        </li>
        <li class="package-item-descr">
          <svg class="arg-icon" width="20" height="20">
            <use href="./images/icons.svg#icon-check-mark"></use>
          </svg>
          Методичка з харчування
        </li>
        <li class="package-item-descr">
          <svg class="arg-icon" width="20" height="20">
            <use href="./images/icons.svg#icon-check-mark"></use>
          </svg>
          Чат з тренером в Телеграм
        </li>
        <li class="package-item-descr">
          <svg class="arg-icon" width="20" height="20">
            <use href="./images/icons.svg#icon-check-mark"></use>
          </svg>
          2 прямих ефіри з експертами
        </li>
        <li class="package-item-descr">
          <svg class="arg-icon" width="20" height="20">
            <use href="./images/icons.svg#icon-check-mark"></use>
          </svg>
          Додатковий урок від нутріціолога
        </li>
        <li class="package-item-descr">
          <svg class="arg-icon" width="20" height="20">
            <use href="./images/icons.svg#icon-check-mark"></use>
          </svg>
          Додатковий урок від психолога
        </li>
        <li class="package-item-descr">
          <svg class="arg-icon" width="20" height="20">
            <use href="./images/icons.svg#icon-check-mark"></use>
          </svg>
          Додатковий урок від косметолога
        </li>
        <li class="package-item-descr">
          <svg class="arg-icon" width="20" height="20">
            <use href="./images/icons.svg#icon-check-mark"></use>
          </svg>
          3 онлайн тренування з Анною протягом курсу
        </li>
        <li class="package-item-descr">
          <svg class="arg-icon" width="20" height="20">
            <use href="./images/icons.svg#icon-check-mark"></use>
          </svg>
          робота з коучем в групі протягом всього курсу
        </li>
      </ul>
      <button type="button" class="button package-premium-button">
        Купити
      </button>
    </li>
  </ul>
</section>
