<section id="package" class="container package section">
  <h2 class="title">Пакети</h2>
  <ul class="list package-list">
    <li class="package-item">
      <div class="package-item-title-box">
        <h3 class="title title-2">Тестовий</h3>
      </div>
      <div>
        <div class="block-2">
          <h3 class="title title-3">Підказки</h3>
          <ul class="list">
            <li>1</li>
            <li>2</li>
            <li>3</li>
          </ul>
        </div>
      </div>
      <ul class="list">
        <li class="package-item-descr">1</li>
        <li class="package-item-descr">2</li>
        <li class="package-item-descr">3</li>
        <li class="package-item-descr">4</li>
        <li class="package-item-descr">5</li>
      </ul>
      <p class="package-price">1000 грн.</p>
      <button data-modal-open-1 type="button" class="button">
        Купити Тестовий
      </button>
    </li>
    <li class="package-item">
      <div class="package-item-title-box">
        <h3 class="title title-2">Стандарт</h3>
      </div>
      <div>
        <div class="block-2">
          <h3 class="title title-3">Підказки</h3>
          <ul class="list">
            <li>1</li>
            <li>2</li>
            <li>3</li>
          </ul>
        </div>
      </div>
      <ul class="list">
        <li class="package-item-descr">1</li>
        <li class="package-item-descr">2</li>
        <li class="package-item-descr">3</li>
        <li class="package-item-descr">4</li>
        <li class="package-item-descr">5</li>
      </ul>
      <p class="package-price">3000 грн.</p>
      <button data-modal-open-2 type="button" class="button">
        Купити Стандарт
      </button>
    </li>
    <li class="package-item">
      <div class="package-item-title-box">
        <h3 class="title title-2">Vip</h3>
      </div>
      <div>
        <div class="block-2">
          <h3 class="title title-3">Підказки</h3>
          <ul class="list">
            <li>1</li>
            <li>2</li>
            <li>3</li>
          </ul>
        </div>
      </div>
      <ul class="list">
        <li class="package-item-descr">1</li>
        <li class="package-item-descr">2</li>
        <li class="package-item-descr">3</li>
        <li class="package-item-descr">4</li>
        <li class="package-item-descr">5</li>
      </ul>
      <p class="package-price">5000 грн.</p>
      <button data-modal-open-3 type="button" class="button">Купити Vip</button>
    </li>
  </ul>
</section>
