<section id="package" class="container package">
  <h2 class="title">Пакети</h2>
  <ul class="list package-list">
    <li class="package-item">
      <div class="package-item-box">
        <h3 class="package-title">Тестовий</h3>
        <p class="package-price package-price-blue">3599 ГРН</p>
      </div>
      <ul class="list package-item-descr-list">
        <li class="package-item-descr">
          <svg class="arg-icon" width="20" height="20">
            <use href="./images/icons.svg#icon-check_blue"></use>
          </svg>
          20 тренувань в записі по 30-35 хвилин
        </li>
        <li class="package-item-descr">
          <svg class="arg-icon" width="20" height="20">
            <use href="./images/icons.svg#icon-check_blue"></use>
          </svg>
          Розбір постави та рекомендації до тренувань
        </li>
        <li class="package-item-descr">
          <svg class="arg-icon" width="20" height="20">
            <use href="./images/icons.svg#icon-check_blue"></use>
          </svg>
          Методичка з харчування
        </li>
        <li class="package-item-descr">
          <svg class="arg-icon" width="20" height="20">
            <use href="./images/icons.svg#icon-check_blue"></use>
          </svg>
          Чат з тренером в Телеграм
        </li>
        <li class="package-item-descr">
          <svg class="arg-icon" width="20" height="20">
            <use href="./images/icons.svg#icon-check_blue"></use>
          </svg>
          2 прямих ефіри з експертами
        </li>
      </ul>
      <button
        data-modal-open-1
        type="button"
        class="button package-test-button"
      >
        Купити
      </button>
    </li>
    <li class="package-item package-item-base">
      <div class="package-item-box package-item-box-base">
        <h3 class="package-title">Базовий</h3>
        <p class="package-price">4599 ГРН</p>
      </div>
      <ul class="list package-item-descr-list">
        <li class="package-item-descr">
          <svg class="arg-icon" width="20" height="20">
            <use href="./images/icons.svg#icon-check_pink"></use>
          </svg>
          20 тренувань в записі по 30-35 хвилин
        </li>
        <li class="package-item-descr">
          <svg class="arg-icon" width="20" height="20">
            <use href="./images/icons.svg#icon-check_pink"></use>
          </svg>
          Розбір постави та рекомендації до тренувань
        </li>
        <li class="package-item-descr">
          <svg class="arg-icon" width="20" height="20">
            <use href="./images/icons.svg#icon-check_pink"></use>
          </svg>
          Методичка з харчування
        </li>
        <li class="package-item-descr">
          <svg class="arg-icon" width="20" height="20">
            <use href="./images/icons.svg#icon-check_pink"></use>
          </svg>
          Чат з тренером в Телеграм
        </li>
        <li class="package-item-descr">
          <svg class="arg-icon" width="20" height="20">
            <use href="./images/icons.svg#icon-check_pink"></use>
          </svg>
          2 прямих ефіри з експертами
        </li>
        <li class="package-item-descr">
          <svg class="arg-icon" width="20" height="20">
            <use href="./images/icons.svg#icon-check_pink"></use>
          </svg>
          Додатковий урок від нутріціолога
        </li>
        <li class="package-item-descr">
          <svg class="arg-icon" width="20" height="20">
            <use href="./images/icons.svg#icon-check_pink"></use>
          </svg>
          Додатковий урок від психолога
        </li>
        <li class="package-item-descr">
          <svg class="arg-icon" width="20" height="20">
            <use href="./images/icons.svg#icon-check_pink"></use>
          </svg>
          Додатковий урок від косметолога «Краса та молодість обличчя та шиї»
        </li>
      </ul>
      <button
        data-modal-open-2
        type="button"
        class="button package-test-button package-base-button"
      >
        Купити
      </button>
    </li>
    <li class="package-item package-item-premium">
      <div class="package-item-box package-item-box-premium">
        <h3 class="package-title package-title-premium">преміум</h3>
        <p class="package-title-descr">Лише 5 місць!</p>
        <p class="package-price package-price-orange">6899 ГРН</p>
      </div>
      <ul class="list package-item-descr-list">
        <li class="package-item-descr">
          <svg class="arg-icon" width="20" height="20">
            <use href="./images/icons.svg#icon-check_orange"></use>
          </svg>
          20 тренувань в записі по 30-35 хвилин
        </li>
        <li class="package-item-descr">
          <svg class="arg-icon" width="20" height="20">
            <use href="./images/icons.svg#icon-check_orange"></use>
          </svg>
          Розбір постави та рекомендації до тренувань
        </li>
        <li class="package-item-descr">
          <svg class="arg-icon" width="20" height="20">
            <use href="./images/icons.svg#icon-check_orange"></use>
          </svg>
          Методичка з харчування
        </li>
        <li class="package-item-descr">
          <svg class="arg-icon" width="20" height="20">
            <use href="./images/icons.svg#icon-check_orange"></use>
          </svg>
          Чат з тренером в Телеграм
        </li>
        <li class="package-item-descr">
          <svg class="arg-icon" width="20" height="20">
            <use href="./images/icons.svg#icon-check_orange"></use>
          </svg>
          2 прямих ефіри з експертами
        </li>
        <li class="package-item-descr">
          <svg class="arg-icon" width="20" height="20">
            <use href="./images/icons.svg#icon-check_orange"></use>
          </svg>
          Додатковий урок від нутріціолога
        </li>
        <li class="package-item-descr">
          <svg class="arg-icon" width="20" height="20">
            <use href="./images/icons.svg#icon-check_orange"></use>
          </svg>
          Додатковий урок від психолога
        </li>
        <li class="package-item-descr">
          <svg class="arg-icon" width="20" height="20">
            <use href="./images/icons.svg#icon-check_orange"></use>
          </svg>
          Додатковий урок від косметолога «Краса та молодість обличчя та шиї»
        </li>
        <li class="package-item-descr">
          <svg class="arg-icon" width="20" height="20">
            <use href="./images/icons.svg#icon-check_orange"></use>
          </svg>
          3 онлайн тренування з Анною протягом курсу
        </li>
        <li class="package-item-descr">
          <svg class="arg-icon" width="20" height="20">
            <use href="./images/icons.svg#icon-check_orange"></use>
          </svg>
          Побудова раціонального меню з індивідуальними порадами від
          нутріціолога
        </li>
      </ul>
      <button
        data-modal-open-3
        type="button"
        class="button package-test-button package-premium-button"
      >
        Купити
      </button>
    </li>
  </ul>
</section>
