<section class="poster container">
  <div class="marquee-poster-dark marquee">
    <p class="marquee_text">
      без виснажливих вправ і дієт • без виснажливих вправ і дієт • без
      виснажливих вправ і дієт • без виснажливих вправ і дієт • без виснажливих
      вправ і дієт • без виснажливих вправ і дієт • без виснажливих вправ і дієт
      • без виснажливих вправ і дієт • без виснажливих вправ і дієт •
    </p>
  </div>
  <div class="marquee-poster-accent container marquee">
    <p class="marquee_text marquee_text-light">
      вправ і дієт • без виснажливих вправ і дієт • без виснажливих вправ і дієт
      без виснажливих вправ і дієт • без виснажливих вправ і дієт • без
      виснажливих вправ і дієт • без виснажливих вправ і дієт • без виснажливих
      вправ і дієт • без виснажливих вправ і дієт •
    </p>
  </div>
</section>
