<section id="products" class="products container">
  <div class="products-box">
    <h2 class="products-title title">обери свій продукт</h2>
    <ul class="list products-list">
      <li class="products-item">
        <a href="./healthy-body.html"
          ><img
            src="./images/products-mobile-1.jpg"
            alt="Тренер виконує вправи"
            width="158"
            height="184"
            class="products-item__image"
          />
          <p class="products-item__text">Онлайн-курс «Здорове тіло»</p></a
        >
      </li>
      <li class="products-item">
        <a href=""
          ><img
            src="./images/products-mobile-2.jpg"
            alt="Тренер виконує вправи"
            width="158"
            height="184"
          />
          <p class="products-item__text">Онлайн-клуб «свідомий фітнес»</p></a
        >
      </li>
      <li class="products-item">
        <a href=""
          ><img
            src="./images/products-mobile-2.jpg"
            alt="Тренер виконує вправи"
          />
          <p class="products-item__text">Сідниці за 21 день</p>
        </a>
      </li>
      <li class="products-item">
        <a href=""
          ><img
            src="./images/products-mobile-2.jpg"
            alt="Тренер виконує вправи"
          />
          <p class="products-item__text">Плаский живіт за 21 день</p>
        </a>
      </li>
    </ul>
  </div>
</section>
