<section id="products" class="products container">
  <div class="products-box">
    <h2 class="title">обери свій продукт</h2>
    <ul class="list products-list">
      <li>
        <a class="products-item" href="./healthy-body.html">
          <picture>
            <source
              srcset="
                ./images/products-desktop-1.webp    1x,
                ./images/products-desktop-1@2x.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/products-desktop-1.jpg    1x,
                ./images/products-desktop-1@2x.jpg 2x
              "
              media="(min-width: 768px)"
              type="image/jpg"
            />
            <source
              srcset="
                ./images/products-mobile-1.webp    1x,
                ./images/products-mobile-1@2x.webp 2x
              "
              media="(max-width: 767px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/products-mobile-1.jpg    1x,
                ./images/products-mobile-1@2x.jpg 2x
              "
              media="(max-width: 767px)"
              type="image/jpg"
            />
            <img
              src="./images/products-mobile-1.jpg"
              alt="Тренер виконує вправи"
              width="158"
              height="184"
              class="products-item__image"
            />
          </picture>
          <p class="products-item__text">Онлайн-курс «Здорове тіло»</p></a
        >
      </li>
      <li>
        <a class="products-item" href="./fitness.html">
          <picture>
            <source
              srcset="
                ./images/products-desktop-2.webp    1x,
                ./images/products-desktop-2@2x.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/products-desktop-2.jpg    1x,
                ./images/products-desktop-2@2x.jpg 2x
              "
              media="(min-width: 768px)"
              type="image/jpg"
            />
            <source
              srcset="
                ./images/products-mobile-2.webp    1x,
                ./images/products-mobile-2@2x.webp 2x
              "
              media="(max-width: 767px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/products-mobile-2.jpg    1x,
                ./images/products-mobile-2@2x.jpg 2x
              "
              media="(max-width: 767px)"
              type="image/jpg"
            />
            <img
              src="./images/products-mobile-2.jpg"
              alt="Тренер виконує вправи"
              width="158"
              height="184"
              class="products-item__image"
            />
          </picture>
          <p class="products-item__text">Онлайн-клуб «Свідомий фітнес»</p></a
        >
      </li>
      <li>
        <a class="products-item" href="./buttocks.html">
          <picture>
            <source
              srcset="
                ./images/products-desktop-3.webp    1x,
                ./images/products-desktop-3@2x.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/products-desktop-3.jpg    1x,
                ./images/products-desktop-3@2x.jpg 2x
              "
              media="(min-width: 768px)"
              type="image/jpg"
            />
            <source
              srcset="
                ./images/products-mobile-3.webp    1x,
                ./images/products-mobile-3@2x.webp 2x
              "
              media="(max-width: 767px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/products-mobile-3.jpg    1x,
                ./images/products-mobile-3@2x.jpg 2x
              "
              media="(max-width: 767px)"
              type="image/jpg"
            />
            <img
              src="./images/products-mobile-3.jpg"
              alt="Тренер виконує вправи"
              width="158"
              height="184"
              class="products-item__image"
            />
          </picture>
          <p class="products-item__text">
            Пружні сідниці <br />
            за 21 день
          </p>
        </a>
      </li>
      <li>
        <a class="products-item" href="./stomache.html">
          <picture>
            <source
              srcset="
                ./images/products-desktop-4.webp    1x,
                ./images/products-desktop-4@2x.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/products-desktop-4.jpg    1x,
                ./images/products-desktop-4@2x.jpg 2x
              "
              media="(min-width: 768px)"
              type="image/jpg"
            />

            <source
              srcset="
                ./images/products-mobile-4.webp    1x,
                ./images/products-mobile-4@2x.webp 2x
              "
              media="(max-width: 767px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/products-mobile-4.jpg    1x,
                ./images/products-mobile-4@2x.jpg 2x
              "
              media="(max-width: 767px)"
              type="image/jpg"
            />
            <img
              src="./images/products-mobile-4.jpg"
              alt="Тренер виконує вправи"
              width="158"
              height="184"
              class="products-item__image"
            />
          </picture>
          <p class="products-item__text">
            Плаский живіт <br />
            за 21 день
          </p>
        </a>
        <!-- <img class="soon" src="./images/soon.png" alt="Незабаром" /> -->
      </li>
    </ul>
  </div>
</section>
