<section id="program" class="container program">
  <h2 class="title program-title">Програма курсу</h2>
  <p class="program-descr-title">
      Програма розроблена для самостійного виконання вправ в зручний для вас
  <p class="program-descr">Завдяки курсу ви зрозумієте як працює тіло. Для чого ми робимо ту чи іншу
    вправу. Як саме її потрібно виконати, щоб задіяти потрібні м'язи і отримати
    результат.Тренування націлені на розвиток сили, гнучкості,
    балансу та координації. Ми укріпимо глибинні м’язи, створимо рельєф,
    збережемо жіночність та покращимо здоров’я.
  </p>
  </p></p>
  <div class="program-box">
    <details class="program-item">
      <summary>Тиждень 1</summary>
      <ul class="list">
        <li class="program-item-train-title">
          1. Тренування МОБІЛЬНІСТЬ ХРЕБТА
          <p class="program-item-train-descr">
            Поліпшити мобільність грудного відділу хребта значно складніше, ніж
            поперекового чи шийного.Це тренування подарує вам правильні рухи, яких так потребує тіло!
          </p>
        </li>
        <li class="program-item-train-title">
          Тренування 2 М'ЯЗІВ ВСЬОГО ТІЛА
          <p class="program-item-train-descr">
            Тренуємо всі групи мязів, щоб ваше тіло працювало злагоджено і
            цілісно.
          </p>
        </li>
        <li class="program-item-train-title">
          Тренування 3 СІДНИЦІ
          <p class="program-item-train-descr">
            Наші сідниці отримають максимум користі при правильній техніці
            виконання.
          </p>
        </li>
        <li class="program-item-train-title">
          Тренування 4 ПРЕС І ГНУЧКІСТЬ
          <p class="program-item-train-descr">
            Розвиваємо гнучкість хребта. Включимо в роботу прес, руки і спину.
          </p>
        </li>
        <li class="program-item-train-title">
          Тренування 5 НЕВИМУШЕНА ПОСТАВА
          <p class="program-item-train-descr">
            Працюємо з глибинними м'язами спини, які утримують хребет і поставу
            рівною.
          </p>
        </li>
      </ul>
    </details>
    <details class="program-item">
      <summary>Тиждень 2</summary>
      <ul class="list">
        <li class="program-item-train-title">
          Тренування 1 КОМПЛЕКСНЕ ТРЕНУВАННЯ
          <p class="program-item-train-descr">
            Прогресія тренування з попереднього тижня. Повторюємо вивчене,
            ускладнюємо техніку.
          </p>
        </li>
        <li class="program-item-train-title">
          Тренування 2 М’ЯЗИ ПРЕСУ І СІДНИЦІ
          <p class="program-item-train-descr">
            Укріплюємо м'язи пресу, одночасно якісно працюємо з сідничними
            м'язами.
          </p>
        </li>
        <li class="program-item-train-title">
          Тренування 3 НОГИ
          <p class="program-item-train-descr">
            Активізуємо внутрішню частину стегна за допомогою м'яча для
            пілатесу.
          </p>
        </li>
        <li class="program-item-train-title">
          Тренування 4 ПЛАНКИ. ВІД СКЛАДНОГО ДО ПРОСТОГО
          <p class="program-item-train-descr">
            Планка - одна з найпопулярніших вправ для зміцнення м’язів кору.
          </p>
        </li>
        <li class="program-item-train-title">
          Тренування 5 БАЛАНС І ГНУЧКІСТЬ
          <p class="program-item-train-descr">
            Розвиваємо еластичність м'язів та рухливість суглобів.
          </p>
        </li>
      </ul>
    </details>
    <details class="program-item">
      <summary>Тиждень 3</summary>
      <ul class="list">
        <li class="program-item-train-title">
          Тренування 1 СІДНИЦІ
          <p class="program-item-train-descr">
            Тренування сідничних мязів може бути цікавим і незвичним!
            <br />Сильні та рельєфні сідничні м’язи - це не просто одна з
            найпривабливіших частин жіночого тіла. <br />Це основа, яка
            допомагає м’язам спини утримувати поставу.
          </p>
        </li>
        <li class="program-item-train-title">
          Тренування 2 СТАБІЛЬНІСТЬ І МОБІЛЬНІСТЬ
          <p class="program-item-train-descr">
            В нашому тілі почергово змінюються зони стабільності та мобільності.
            <br />
            Це тренування дасть вам легкість та відчуття свого тіла!
            Приготуйтесь - ваше тіло стане не лише сильним, а й гнучким.
          </p>
        </li>
        <li class="program-item-train-title">
          Тренування 3 ВСЕ ТІЛО
          <p class="program-item-train-descr">
            Тренування з еластичною стрічкою на всі групи м'язів.
            <br />Еластична стрічка - універсальний тренажер, який забезпечує
            м’який функціональний вплив без ризику травмування.
          </p>
        </li>
        <li class="program-item-train-title">
          Тренування 4 ПІЛАТЕС
          <p class="program-item-train-descr">
            Розкриття грудної клітки поверне вам королівську поставу, позбавить
            головного болю та дозволить дихати на повні груди.
          </p>
        </li>
        <li class="program-item-train-title">
          Тренування 5 РУКИ ТА КОР
          <p class="program-item-train-descr">
            М'язи, які ми активно використовуємо на кожному тренуванні, сьогодні
            попрацюють по максимуму.
          </p>
        </li>
      </ul>
    </details>
    <details class="program-item">
      <summary>Тиждень 4</summary>
      <ul class="list">
        <li class="program-item-train-title">
          Тренування 1 СІДНИЦІ
          <p class="program-item-train-descr">
            За допомогою стільця та еластичної стрічки розвиваємо мобільність
            кульшових суглобів та зміцнюємо сідничні м'язи..
          </p>
        </li>
        <li class="program-item-train-title">
          Тренування 2 ПРЕС І МОБІЛЬНІСТЬ
          <p class="program-item-train-descr">
            Розкриваємо грудний відділ за допомогою секретних вправ пілатесу.
            Активуємо діафрагму та прямі м'язи живота.
          </p>
        </li>
        <li class="program-item-train-title">
          Тренування 3 ГНУЧКІСТЬ І СИЛА
          <p class="program-item-train-descr">
            Хороша рухливість суглобів - профілактика травматизму в побуті та
            спорті. Ви будете приємно здивовані, дізнавшись на що здатне ваше
            тіло.
          </p>
        </li>
        <li class="program-item-train-title">
          Тренування 4 ВСЕ ТІЛО
          <p class="program-item-train-descr">
            Функціональне тренування (знадобляться пляшки з водою чи гантелі).
            Відчуйте приріст фізичної підготовленості, якого ви досягли на
            курсі.
          </p>
        </li>
        <li class="program-item-train-title">
          Тренування 5 РУКИ І СПИНА
          <p class="program-item-train-descr">
            Фінальне тренування. Улюблені хвилі. Витончені та сильні руки.
          </p>
        </li>
      </ul>
    </details>
  </div>
  <a class="button program-button" href="#package">Обрати пакет</a>
  <a class="button program-button program-button__transp" href="#package">Спробувати безкоштовно</a>
</section>
