<section id="question" class="container question">
  <h2 class="title underline-title">Поширені питання</h2>
  <details class="question-item">
    <summary class="question-item-title">
      Я вже займалась по відео з youtube і не отримала жодних результатів. Чому
      мені варто займатись з вами?
    </summary>
    <p class="question-item-text">
      Мій підхід до тіла більш науковий, через фізіологію людини, тренування
      розроблені по принципам пілатесу та моєму досвіді. Я враховую ваші
      індивідуальні потреби та травми, щоб забезпечити ефективний та безпечний
      тренувальний процес.
    </p>
  </details>
  <details class="question-item">
    <summary class="question-item-title">
      Я маю травму коліна і лікарі заборонили займатись спортом. Але я хочу мати
      гарне тіло. Як в цьому випадку ви можете мені допомогти?
    </summary>
    <p class="question-item-text">
      Я спеціалізуюся в роботі з травмованими або обмеженими за станом здоров'я
      клієнтами, розробляю програму, яка не обтяжить травмоване коліно, проте
      дозволить вам підтримувати форму та отримувати задоволення від тренувань.
      Ви завжди можете написати мені про свої відчуття під час виконання вправ
      чи дискомфорт.
    </p>
  </details>
  <details class="question-item">
    <summary class="question-item-title">
      Як буде проходити сам процес тренувань? Як я буду отримувати уроки?
    </summary>
    <p class="question-item-text">
      Тренування приходять вам онлайн, виконувати їх ви можете у будь-який
      зручний для вас час.
    </p>
  </details>
  <details class="question-item">
    <summary class="question-item-title">
      Якщо я не встигаю в ритмі виходу тренувань - чи можу я займатись в своєму
      темпі?
    </summary>
    <p class="question-item-text">
      Доступ до тренувань не зникає. Виконувати їх можна в будь який зручний для
      вас час, ви можете займатись в своєму темпі. Програма гнучка та може бути
      адаптована до вашого графіку та фізичних можливостей.
    </p>
  </details>
  <details class="question-item">
    <summary class="question-item-title">
      Ці заняття розраховані тільки на 6 місяців, чи я і надалі зможу їх
      використовувати?
    </summary>
    <p class="question-item-text">
      Тренування не обмежені в часі. Після періоду, на який ви зареєструвалися,
      ви можете продовжити використовувати тренування та отримувати підтримку. Я
      прагну стати вашим довгостроковим партнером у досягненні ваших
      фітнес-цілей.
    </p>
  </details>
  <details class="question-item">
    <summary class="question-item-title">
      Чи можна відмінити помісячну підписку, якщо я хочу зробити паузу і
      повернутись пізніше?
    </summary>
    <p class="question-item-text">
      Так, ви можете зупинити підписку та приєднатися з місяця, на якому
      завершили.
    </p>
  </details>
  <details class="question-item">
    <summary class="question-item-title">
      Чи буде з нами на програмі куратор?
    </summary>
    <p class="question-item-text">В програмі є лише чат підтримки учасниць.</p>
  </details>
  <details class="question-item">
    <summary class="question-item-title">
      Чи буде можливість ставити питання тренеру на пряму і підкорегувати готову
      програму під мої особисті потреби?
    </summary>
    <p class="question-item-text">
      Так, ви можете залишити коментар до кожного тренування, задати питання чи
      запитати поради, я особисто відповідаю кожній учасниці.
    </p>
  </details>
</section>