<section class="container quote-desktop hidden">
  <div class="quote quote-desktop-box">
    <svg class="quote-icon-desktop--top" width="106" height="106">
      <use href="./images/icons.svg#icon-untitled"></use>
    </svg>
    <p class="trainer-quote">
      Я знаю як допомогти людині досягнути гарної фізичної форми. Знаю проблеми
      та розчарування, через які ви проходите на цьому шляху. Мій практичний
      досвід та знання дозволять зробити цей шлях максимально ефективним та
      здобути тіло вашої мрії не на певний час, а на все життя. <br />
      <br />
      Як мама трьох синів, з особистого досвіду знаю, як відновити жіноче тіло
      після вагітності та пологів. І я з радістю поділюся цими знаннями з вами!
    </p>
    <svg class="quote-icon-desktop--bottom" width="106" height="106">
      <use href="./images/icons.svg#icon-untitled"></use>
    </svg>
  </div>
  <picture>
    <source
      srcset="
        ./images/foto_anna_desktop.webp    1x,
        ./images/foto_anna_desktop@2x.webp 2x
      "
      media="(min-width: 768px)"
      type="image/webp"
    />
    <source
      srcset="
        ./images/foto_anna_desktop.jpg    1x,
        ./images/foto_anna_desktop@2x.jpg 2x
      "
      media="(min-width: 768px)"
      type="image/jpg"
    />
    <img
      src="./images/foto_anna_desktop.jpg"
      alt="Тренер"
      width="618"
      height="588"
      class="quote-desktop-img"
    />
  </picture>
</section>
