<div class="container trainer-quote-box quote">
  <svg class="quote-icon" width="106" height="106">
    <use href="./images/icons.svg#icon-untitled"></use>
  </svg>
  <p class="trainer-quote">
    Я знаю як допомогти людині досягнути гарної фізичної форми. Знаю проблеми та
    розчарування, через які ви проходите на цьому шляху. Мій практичний досвід
    та знання дозволять зробити цей шлях максимально ефективним та здобути тіло
    вашої мрії не на певний час, а на все життя. <br />
    <br />
    Як мама трьох синів, з особистого досвіду знаю, як відновити жіноче тіло
    після вагітності та пологів. І я з радістю поділюся цими знаннями з вами!
  </p>
</div>
