<section id="description" class="container description">
  <div class="description-box">
    <h2 class="title descr-title">
      Цей інтенсив для <br />
      вас, якщо ви...
    </h2>
    <ul class="descr-list description-list--block descr-list--bootom">
      <li class="descr-item">
        <svg class="descr-icon" width="24" height="24">
          <use href="./images/icons.svg#icon-chevrons-right"></use></svg
        >Діастаз (розходження прямих мʼязів живота), що може призводити до
        видимого випирання живота
      </li>
      <li class="descr-item">
        <svg class="descr-icon" width="24" height="24">
          <use href="./images/icons.svg#icon-chevrons-right"></use></svg
        >Відчуваєте біль у поперековому та шийному відділах
      </li>
      <li class="descr-item">
        <svg class="descr-icon" width="24" height="24">
          <use href="./images/icons.svg#icon-chevrons-right"></use>
        </svg>
        Сутулість, спричинена зміщенням шийного відділу вперед та незадовільним
        станом хребта
      </li>
      <li class="descr-item">
        <svg class="descr-icon" width="24" height="24">
          <use href="./images/icons.svg#icon-chevrons-right"></use>
        </svg>
        Сидячий спосіб життя та відсутність руху, які можуть призводити до
        розслаблення мʼязів і загального погіршення фізичної форми
      </li>
      <li class="descr-item">
        <svg class="descr-icon" width="24" height="24">
          <use href="./images/icons.svg#icon-chevrons-right"></use></svg
        >Слабкість м'язів тазового дна, що може призводити до проблем з
        утриманням сечі та потраплянням повітря під час статевих відносин.
      </li>
    </ul>
  </div>
</section>
<section class="container result">
  <h2 class="title">Результати за 21 день</h2>
  <p class="result-text">
    За 21 день результати програми можуть бути помітними як для вас, так і для
    оточуючих:
  </p>
  <div class="result-descr-box">
    <div class="result-descr">
      <h3 class="result-descr-title">Помітні для оточення</h3>
      <ul class="list result-list">
        <li class="package-item-descr">
          <svg class="result-icon" width="20" height="20">
            <use href="./images/icons.svg#icon-check_orange"></use>
          </svg>
          Тонус мʼязів живота
        </li>
        <li class="package-result-iconcr">
          <svg class="result-icon" width="20" height="20">
            <use href="./images/icons.svg#icon-check_orange"></use>
          </svg>
          Струнка талія
        </li>
        <li class="package-item-descr">
          <svg class="result-icon" width="20" height="20">
            <use href="./images/icons.svg#icon-check_orange"></use>
          </svg>
          Корекція постави
        </li>
      </ul>
    </div>
    <div class="result-descr">
      <h3 class="result-descr-title">Помітні лише для вас</h3>
      <ul class="list result-list">
        <li class="package-item-descr">
          <svg class="result-icon" width="20" height="20">
            <use href="./images/icons.svg#icon-check_orange"></use>
          </svg>
          Зменшення болю в спині та шиї
        </li>
        <li class="package-item-descr">
          <svg class="result-icon" width="20" height="20">
            <use href="./images/icons.svg#icon-check_orange"></use>
          </svg>
          Укріплення мʼязів тазового дна
        </li>
        <li class="package-item-descr">
          <svg class="result-icon" width="20" height="20">
            <use href="./images/icons.svg#icon-check_orange"></use>
          </svg>
          Підсилене відчуття оргазмів
        </li>
      </ul>
    </div>
  </div>
</section>
<section class="container follow-container">
  <div>
    <h3 class="title title--small title--center">Приєднуйтесь та отримайте</h3>
    <ul class="list accent-list descr-accent-list-tablet">
      <li class="accent-item">
        <svg class="accent-icon" width="12" height="12">
          <use href="./images/icons.svg#icon-cd"></use>
        </svg>
        3 тренування щотижня тривалістю 30-35 хвилин
      </li>
      <li class="accent-item">
        <svg class="accent-icon" width="12" height="12">
          <use href="./images/icons.svg#icon-cd"></use>
        </svg>
        3 комплекси вправ щотижня на гнучкість, розслаблення, баланс та інші
        аспекти (кожен комплекс тривалістю 10-15 хвилин)
      </li>
      <li class="accent-item">
        <svg class="accent-icon" width="12" height="12">
          <use href="./images/icons.svg#icon-cd"></use></svg
        >Рекомендації щодо зменшення проявів целюліту
      </li>
      <li class="accent-item">
        <svg class="accent-icon" width="12" height="12">
          <use href="./images/icons.svg#icon-cd"></use></svg
        >Рекомендації щодо харчування від нашого нутриціолога
      </li>
      <li class="accent-item">
        <svg class="accent-icon" width="12" height="12">
          <use href="./images/icons.svg#icon-cd"></use></svg
        >Конструктор збалансованих тарілок
      </li>
    </ul>
  </div>
  <a class="button button-transparent-bg hidden-button" href="#package"
    >купити</a
  >
</section>
