<section id="trainer" class="trainer container">
  <!-- <img src="" alt="Тренер" /> -->
  <h3 class="trainer-subtitle">Ваш тренер</h3>
  <h2 class="trainer-title">
    Анна Горпинчук - фітнес-тренер з дипломом, викладачка Національного
    Університету Фізичного Виховання та Спорту України, мама 3 синів.
  </h2>

  <a href="#" class="social">Інстаграм</a>
  <ul class="list">
    <li class="education-item">
      ✅ Диплом спеціаліста з фітнесу та рекреації (2017)
    </li>
    <li class="education-item">
      ✅Курси від Академії фітнесу (2015)
      <ul>
        <li class="education-subitem">
          «Тренер тренажерного залу 1,2,3 рівень»
        </li>
        <li class="education-subitem">«Персональний тренінг»</li>
        <li class="education-subitem">
          «Функціональний тренінг з елементами кросфіт»
        </li>
        <li class="education-subitem">
          «Функціональний тренінг з підвісними петлями TRX»
        </li>
        <li class="education-subitem">
          «Тренінг жінок з урахуванням фаз циклу»
        </li>
        <li class="education-subitem">«Фітнес та медицина»</li>
      </ul>
    </li>
    <li class="education-item">
      ✅ Міжнародний сертифікат Level 1 по Animal Flow (2020)
    </li>
    <li class="education-item">
      ✅ 7 років практичного досвіду: <br />
      персональний тренінг, групові програми (аеробіка, функціональний тренінг,
      TRX, сайклінг)
    </li>
  </ul>
  <p class="trainer-knowledge">
    Я знаю як допомогти людині досягнути гарної фізичної форми. Знаю проблеми та
    розчарування, через які ви проходите на цьому шляху.<br /><br />Мій
    практичний досвід та знання дозволять зробити цей шлях максимально
    ефективним та здобути тіло вашої мрії не на певний час, а на все життя.<br /><br />
    <span class="trainer-knowledge-italic"
      >Як мама трьох синів, з особистого досвіду знаю, як відновити жіноче тіло
      після вагітності та пологів. І я з радістю поділюся цими знаннями з
      вами!</span
    >
  </p>
  <button class="hero-button" type="submit">Купити</button>
</section>
