<section id="trainer" class="trainer container">
  <h2 class="title trainer-title">
    Тренер <br />
    Анна Горпинчук - фітнес тренер зі стажем більше 7 років
  </h2>
  <picture>
    <source
      srcset="
        ./images/trainer-mobile.webp    1x,
        ./images/trainer-mobile@2x.webp 2x
      "
      media="(max-width: 999px)"
      type="image/webp"
    />
    <source
      srcset="./images/trainer-mobile.jpg 1x, ./images/trainer-mobile@2x.jpg 2x"
      media="(max-width: 999px)"
      type="image/jpg"
    />
    <img
      src="./images/trainer-mobile.jpg"
      alt="Тренер"
      class="trainer-foto"
      width="334"
      height="433"
    />
  </picture>
  <picture>
    <source
      srcset="
        ./images/trainer-desktop.webp    1x,
        ./images/trainer-desktop@2x.webp 2x
      "
      media="(min-width: 1200px)"
      type="image/webp"
    />
    <source
      srcset="
        ./images/trainer-desktop.jpg    1x,
        ./images/trainer-desktop@2x.jpg 2x
      "
      media="(min-width: 1200px)"
    />

    <img
      src="./images/trainer-desktop.jpg"
      alt="Тренер"
      class="trainer-foto--desktop"
      width="756"
      height="594"
    />
  </picture>
</section>
