<section id="trainer" class="trainer container">
  <div class="trainer-desktop-box">
    <div class="trainer-desktop-box1">
      <h2 class="title trainer-title">
        Ваш тренер <br />
        Анна Горпинчук
      </h2>
      <h3 class="trainer-subtitle">
        Фітнес-тренер з дипломом, викладачка Національного Університету
        Фізичного Виховання та Спорту України, мама 3 синів
      </h3>
      <div class="trainer-quote-box trainer-quote-hidden">
        <svg class="trainer-quote-icon" width="106" height="106">
          <use href="./images/icons.svg#icon-untitled"></use>
        </svg>
        <p class="trainer-quote">
          Я знаю як допомогти людині досягнути гарної фізичної форми. Знаю
          проблеми та розчарування, через які ви проходите на цьому шляху. Мій
          практичний досвід та знання дозволять зробити цей шлях максимально
          ефективним та здобути тіло вашої мрії не на певний час, а на все
          життя. <br />
          <br />
          Як мама трьох синів, з особистого досвіду знаю, як відновити жіноче
          тіло після вагітності та пологів. І я з радістю поділюся цими знаннями
          з вами!
        </p>
      </div>
    </div>
    <picture>
      <source
        srcset="
          ./images/trainer-mobile.webp    1x,
          ./images/trainer-mobile@2x.webp 2x
        "
        media="(max-width: 999px)"
        type="image/webp"
      />
      <source
        srcset="
          ./images/trainer-mobile.jpg    1x,
          ./images/trainer-mobile@2x.jpg 2x
        "
        media="(max-width: 999px)"
        type="image/jpg"
      />
      <img
        src="./images/trainer-mobile.jpg"
        alt="Тренер"
        class="trainer-foto"
        width="334"
        height="433"
      />
    </picture>
    <picture>
      <source
        srcset="
          ./images/trainer-desktop.webp    1x,
          ./images/trainer-desktop@2x.webp 2x
        "
        media="(min-width: 1200px)"
        type="image/webp"
      />
      <source
        srcset="
          ./images/trainer-desktop.jpg    1x,
          ./images/trainer-desktop@2x.jpg 2x
        "
        media="(min-width: 1200px)"
      />

      <img
        src="./images/trainer-desktop.jpg"
        alt="Тренер"
        class="trainer-foto--desktop"
        width="750"
        height="604"
      />
    </picture>
  </div>

  <h3 class="trainer-ed-title">Освіта тренера</h3>
  <ul class="list trainer-ed-list">
    <li class="trainer-ed-item">
      <svg class="arg-icon" width="20" height="20">
        <use href="./images/icons.svg#icon-check_orange"></use>
      </svg>
      Диплом спеціаліста з фітнесу та рекреації (2017)
    </li>
    <li class="trainer-ed-item">
      <svg class="arg-icon" width="20" height="20">
        <use href="./images/icons.svg#icon-check_orange"></use>
      </svg>
      Курси від Академії фітнесу (2015)
    </li>
    <li class="trainer-ed-item">
      <svg class="arg-icon" width="20" height="20">
        <use href="./images/icons.svg#icon-check_orange"></use>
      </svg>
      «Тренер тренажерного залу 1,2,3 рівень»
    </li>
    <li class="trainer-ed-item">
      <svg class="arg-icon" width="20" height="20">
        <use href="./images/icons.svg#icon-check_orange"></use>
      </svg>
      «Персональний тренінг»
    </li>
    <li class="trainer-ed-item">
      <svg class="arg-icon" width="20" height="20">
        <use href="./images/icons.svg#icon-check_orange"></use>
      </svg>
      «Функціональний тренінг з елементами кросфіт»
    </li>
    <li class="trainer-ed-item">
      <svg class="arg-icon" width="20" height="20">
        <use href="./images/icons.svg#icon-check_orange"></use>
      </svg>
      «Функціональний тренінг з підвісними петлями TRX»
    </li>
    <li class="trainer-ed-item">
      <svg class="arg-icon" width="20" height="20">
        <use href="./images/icons.svg#icon-check_orange"></use>
      </svg>
      «Тренінг жінок з урахуванням фаз циклу»
    </li>
    <li class="trainer-ed-item">
      <svg class="arg-icon" width="20" height="20">
        <use href="./images/icons.svg#icon-check_orange"></use>
      </svg>
      «Фітнес та медицина»
    </li>
    <li class="trainer-ed-item">
      <svg class="arg-icon" width="20" height="20">
        <use href="./images/icons.svg#icon-check_orange"></use>
      </svg>
      Міжнародний сертифікат Level 1 по Animal Flow (2020)
    </li>
  </ul>
  <h4 class="accent-title trainer-expirience trainer-quote-hidden">
    7 років практичного досвіду
  </h4>
  <div class="trainer-expirience-list accent-list">
    <h4 class="accent-title trainer-expirience">
      7 років практичного досвіду:
    </h4>
    <ul class="list trainer-expirience-list-desc">
      <li class="accent-item">
        <svg class="accent-icon" width="12" height="12">
          <use href="./images/icons.svg#icon-cd"></use>
        </svg>
        Персональний тренінг
      </li>
      <li class="accent-item">
        <svg class="accent-icon" width="12" height="12">
          <use href="./images/icons.svg#icon-cd"></use>
        </svg>
        Групові програми
      </li>
      <li class="accent-item">
        <svg class="accent-icon" width="12" height="12">
          <use href="./images/icons.svg#icon-cd"></use></svg
        >Аеробіка
      </li>
      <li class="accent-item">
        <svg class="accent-icon" width="12" height="12">
          <use href="./images/icons.svg#icon-cd"></use></svg
        >Функціональний тренінг
      </li>
      <li class="accent-item">
        <svg class="accent-icon" width="12" height="12">
          <use href="./images/icons.svg#icon-cd"></use></svg
        >Сайклінг
      </li>
      <li class="accent-item">
        <svg class="accent-icon" width="12" height="12">
          <use href="./images/icons.svg#icon-cd"></use></svg
        >TRX
      </li>
    </ul>
  </div>
  <div class="trainer-quote-box">
    <svg class="trainer-quote-icon" width="106" height="106">
      <use href="./images/icons.svg#icon-untitled"></use>
    </svg>
    <p class="trainer-quote">
      Я знаю як допомогти людині досягнути гарної фізичної форми. Знаю проблеми
      та розчарування, через які ви проходите на цьому шляху. Мій практичний
      досвід та знання дозволять зробити цей шлях максимально ефективним та
      здобути тіло вашої мрії не на певний час, а на все життя. <br />
      <br />
      Як мама трьох синів, з особистого досвіду знаю, як відновити жіноче тіло
      після вагітності та пологів. І я з радістю поділюся цими знаннями з вами!
    </p>
  </div>
</section>
